@use '../mixins';
@use '../vars';

nav {
  z-index: 2;
  background-color: white;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  a {
    color: black;
    text-decoration: underline;

    &[aria-current] {
      font-weight: bold;
    }
  }

  @include mixins.mobile {
    .nav--sm {
      display: block;
      position: fixed;
      bottom: 0;
      width: 100%;
      min-height: 30px;
      background-color: white;
      border-top: 2px solid black;
      z-index: 1;
      padding: 0.8em 1.2em 0.8em 1.2em;
      padding: 0.8em 1.2em calc(0.8em + env(safe-area-inset-bottom, 0px)) 1.2em;
      margin-left: -1.2em;
      z-index: 100;
    }

    .nav--sm[open] + .nav--sm--logo {
      display: none;
    }

    .nav--sm--logo {
      position: fixed;
      bottom: 0;
      z-index: 101;
      padding: 0.8em 1.2em 0.8em 0;

      a {
        display: flex;
        text-decoration: none;
      }

      img {
        height: 29px;
      }

      span {
        text-decoration: underline;
        margin-left: vars.$space-xs;
      }
    }

    .nav--md {
      display: none;
    }
  }

  @include mixins.tablet {
    .nav--sm,
    .nav--sm--logo {
      display: none;
    }

    .nav--md {
      display: block;
    }
  }
}

/* Hide nav on error */
.error nav {
  visibility: hidden;
}

/* forces a compositing/style update */
.ios26-tint-refresh .nav--sm {
  transform: translateZ(0);
}