@use '../mixins';
@use '../vars';

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  a {
    color: black;
    text-decoration: underline;

    &[aria-current] {
      font-weight: bold;
    }
  }

  @include mixins.mobile {
    .nav--sm {
      display: block;
      position: fixed;

      width: 100%;
      min-height: 30px;
      background: white;
      border-top: 2px solid black;
      bottom: 0px;
      z-index: 1;
      padding: 0.8em 1.2em 0.8em 1.2em;
      margin-left: -1.2em;
    }

    .nav--sm[open] + .nav--sm--logo {
      display: none;
    }

    .nav--sm--logo {
      position: fixed;
      bottom: 0;
      z-index: 10;
      padding: 0.8em 1.2em 0.8em 0;

      a {
        display: flex;
        text-decoration: none;
      }

      img {
        height: 29px;
      }

      span {
        text-decoration: underline;
        margin-left: vars.$space-xs;
      }
    }

    .nav--md {
      display: none;
    }
  }

  @include mixins.tablet {
    .nav--sm,
    .nav--sm--logo {
      display: none;
    }

    .nav--md {
      display: block;
    }
  }
}

/* Hide nav on error */
.error nav {
  visibility: hidden;
}
