@use '../mixins';
@use '../vars';

.inner-content__header {
  display: flex;
  border-bottom: 2px solid black;
  margin-bottom: vars.$space-xl;
  flex-direction: column-reverse;

  h1 {
    margin-bottom: 0;
  }

  > div {
    align-self: flex-start;
    text-align: right;
    margin-bottom: vars.$space-sm;
  }

  @include mixins.tablet {
    h1 {
      margin-right: 35%;
    }
  }
}
