{% extends "layout.njk" %}

{% block body_classes -%}
  about
{%- endblock %}

{% block content %}
  {{ page_header({ h1: 'About Groundhog Day', backUrl: '/', backText: 'Home' }) }}

  <div class="max-width--850">
    <div class="speakable">
    <p>Groundhog Day is a lighthearted holiday celebrated annually across North America in which ‘prognosticating’ animals predict the onset of spring.</p>
    <p>Traditionally, on February 2nd, <a href="/groundhogs">various groundhogs</a> across North America are consulted by local public figures (often a mayor) for an annual weather prediction:</p>
    <ul class="with-bullets">
      <li>If the groundhog ‘sees its shadow’, it means 6 more weeks of winter</li>
      <li>If the groundhog doesn’t see its shadow, spring will come early</li>
    </ul>
    </div>
    <p>Since groundhogs can’t speak English, they communicate their ‘prognostication’ in ‘<a href="https://en.wiktionary.org/wiki/groundhogese" target="_blank">Groundhogese</a>’ — a language known only to specially-ordained groundhogs and the presiding officiant.</p>
    <p><a href="/groundhogs/punxsutawney-phil">Punxatawney Phil</a> is the most famous prognosticating groundhog, largely due to starring the 1993 Hollywood film “<a href="https://www.imdb.com/title/tt0107048/" target="_blank">Groundhog Day</a>,” with Bill Murray in a supporting role. However, there are many Groundhog Day ceremonies across North America, not always strictly including a live groundhog, but all of which follow the central premise of an animal predicting the upcoming weather.</p>
    <p>So that’s Groundhog Day in a nutshell. However, if you’re a curious person or you’re not yet 100% clear on the scientific method used by groundhog forecasters, I would direct you to <a href="/history-of-groundhog-day">a more comprehensive history of Groundhog Day</a>. It’s just as weird as you think.</p>

    <h2 class="h3" id="explaining-groundhog-day">About {{ site_title() }}</h2>
    <p>{{ site_title() }} is the leading data source for North America’s prognosticating groundhogs and their yearly predictions. {{ site_title() }} provides past predictions for <a href="/groundhogs">individual groundhogs</a>, as well as <a href="/predictions">aggregate yearly data</a> comparing the number of ‘early spring’s to ‘longer winter’s.</p>
    <p>Our mission is to provide <a href="/api">Groundhog Day data</a> that is free, accurate, and portable. Every year, there are a spate of newspaper articles doing some kind of data analysis on Groundhog Day results — GROUNDHOG-DAY.com makes that easier than ever.</p>
    <p class="mb--0">We are always open to improvements or suggestions, and always keen to <a href="/add-a-new-groundhog">add new groundhogs</a>. Please <a href="/contact">get in touch</a> if you have any questions and/or feedback.</p>
  </div>
{% endblock %}
