{% extends "layout.njk" %}

{% block body_classes -%}
  about
{%- endblock %}

{% block content %}
  {{ page_header({ h1: 'About', backUrl: '/', backText: 'Home' }) }}

  <div class="max-width--850">
    <p>For centuries, humankind has relied on the prophecies of clairvoyant woodchucks, long may it continue.</p>
    <p>Every February 2nd – in deepest, darkest winter – humanity seeks guidance from mystic marmots, whose obscure rituals and ancient tongue foretell of spring’s return.</p>
    <p>{{ site_title({ url: true }) }} combines the ancient wisdom of <a class="underline" href="/groundhogs">groundhogs</a> with the entrepreneurial dynamism of <a href="/api" class="underline">structured data</a>.</p>
    <p>Only groundhogs know the future, but {{ site_title({ url: true }) }} unlocks the past.</p>

    <h2 class="h3">Me</h2>
    <p>My name is <a href="https://pcraig3.ca/" target="_blank" class="underline">Paul</a> and I barely never ever thought about groundhogs until <a class="underline" href="https://www.canadaland.com/podcast/750-dead-willies/" target="_blank">Canadaland’s episode #750: Dead Willies</a>.</p>
    <p>Afterwards, I started Googling how it came to pass that we rely on enchanted animals for weather predictions and now I am maybe one of the foremost Groundhog Day experts in Canada slash the world.</p>
    <p class="mb--0">To inquire about keynote speaking at your conference or even just to say hi, email <a class="underline" href="mailto:paul@pcraig3.ca">paul@pcraig3.ca</a>.</p>
  </div>
{% endblock %}
