{% extends "layout.njk" %}

{% block body_classes -%}
  about
{%- endblock %}

{% block content %}
  {{ page_header({ h1: 'Add a groundhog', backUrl: '/', backText: 'Home' }) }}

  <div class="max-width--850">
    
    <p>{{ site_title({ url: true }) }} aspires to be (and maybe already is) the leading source for prognosticating groundhogs and their yearly predictions. As such, the door is very much open to adding talented up-and-coming groundhogs in addition to our roster of classic mainstream groundhogs.</p>
    <p>It is also possible to <a href="#editing-a-groundhog">update/amend existing groundhog data</a>.</p>

    <h2 class="h3">Before adding a groundhog</h2>
    <p>Your groundhog must have a public web presence (a Twitter account or Facebook page is okay) and a record of predictions going back at least <strong>3</strong> years. (2 if you ask nicely.)</p>

    <h2 class="h3">Submitting a new groundhog</h2>
    <p>There are 3 files I need to add a new groundhog:</p>
    <ol class="with-decimals">
        <li><a href="#submitting-a-groundhog--basic-information">Basic information</a> about your groundhog</li>
        <li><a href="#submitting-a-groundhog--predictions">A list of predictions</a> by year</li>
        <li><a href="#submitting-a-groundhog--photo">A photo</a></li>
    </ol>
    <p><a href="https://forms.gle/fki9UL1kwjSusbL59" target="_blank">I have a Google Form you can use to submit a new groundhog</a>. It should take you about 5 minutes.</p>

    <h3 class="h5" id="submitting-a-groundhog--basic-information">1. Basic information</h3>
    <p>Basically, I need the following:</p>
    <ul class="with-bullets">
      <li>Name</li>
      <li>Location</li>
      <li>Website (and “source” of latest prediction, if they are different)</li>
      <li>A description, preferably between 40-70 words</li>
      <li>Type of animal (if not a literal groundhog)</li>
    </ul>

    <h3 class="h5" id="submitting-a-groundhog--predictions">2. A list of predictions</h3>
    <p>An Excel/CSV/Google Sheets file with 3 columns: <code>year</code>, <code>shadow</code>, and <code>details</code>. </p>
    <p>Examples:</p>
    <ul class="with-bullets">
      <li><a href="https://www.groundhog.org/Files/Admin/history/UpdatedGroundhog%5FDay%5FPredictions%2Epdf" target="_blank">Punxatawney Phil’s historical predictions</a>, which inspired my format.</li>
      <li><a href="https://docs.google.com/spreadsheets/d/1RX0CBSbTXj6LQK0zXpoPay_hjG44mW1wwFGYsj9G82E/edit?usp=sharing" target="_blank">The spreadsheet I created for Punxatawney Phil</a> in Google Sheets</a>, including “details”</li>
      <li><a href="https://docs.google.com/spreadsheets/d/1jQIG4PY-RwiVm2GhsrpZ_EQZyjhLgaPPhiDWap8qUhE/edit?usp=sharing" target="_blank">The spreadsheet I created for Buckeye Chuck</a> in Google Sheets</a>, with no added “details”</li>
    </ul>
    <p>You can make a copy of <a href="https://docs.google.com/spreadsheets/d/1LKl_eyr90sPJzNoDL-YMpKReEjS4lGvsppAbrRwCFTY/edit?usp=sharing" target="_blank">this empty Google Sheets template</a> and fill out on your own.</p> 
    
    <h3 class="h5" id="submitting-a-groundhog--photo">3. A photo</h3>
    <p>There are no hard and fast rules here, but try to find a photo that is mostly the groundhog and no people. Most photos so far use landscape orientation but that’s not mandatory.</p>

    <h2 class="h3" id="editing-a-groundhog">Editing a groundhog</h2>
    <p class="mb--0">I have tried to make sure the data is accurate for all the groundhogs that I could find but mistakes do happen. If you noticed any information that is incorrect or incomplete (eg, if you want to add extra predictions, edit the description, add a new photo), please email me at <a class="underline" href="mailto:paul@pcraig3.ca">paul@pcraig3.ca</a> and I can do it in a day or two.</p> 
  </div>
{% endblock %}
