{% extends "layout.njk" %}

{% block body_classes -%}
  api
{%- endblock %}

{% block content %}
  {{ page_header({ h1: 'Groundhog Day API', backUrl: '/', backText: 'Home' }) }}

  <div class="max-width--850">
    <p>The <a href="/api/v1/" target="_blank">{{ site_title({ url: false }) }} API</a> returns all of North America's prognosticating animals and their yearly weather predictions.
    It’s the critical infrastructure you need for your next multi-billion-dollar business venture.</p>

    <p>
      <span aria-hidden="true" class="flip-x large-font">🦫</span>
      <a href="/api/v1/" target="_blank">https://groundhog-day.com/api/v1/</a>
      <span aria-hidden="true" class="large-font">🦫</span>
    </p>

    <p>Use the API to:</p>
    <ul class="with-bullets">
      <li>Get all groundhogs (and predictions)</li>
      <li>Get 1 groundhog (and predictions)</li>
      <li>Get all predictions for a given year</li>
    </ul>

    <p>That should be enough to get you started, but <a href="https://app.swaggerhub.com/apis/pcraig3/groundhog-day-api/1.0.0" target="_blank">there’s an OpenAPI schema</a> available if you need enterprise-level documentation before rolling out your <abbr title="Groundhogs as a Platform">GaaP</abbr> (Groundhogs as a Platform) strategy.</p>

    <h2 class="h3">Getting data</h2>

    <p>There are 3 endpoints. All are <code>GET</code> requests.

    <ul class="with-bullets">
      <li><code><a href="/api/v1/groundhogs" target="_blank">/api/v1/groundhogs</a></code></li>
      <li><code><a href="/api/v1/groundhogs/wiarton-willie" target="_blank">/api/v1/groundhogs/{slug}</a></code></li>
      <li><code><a href="/api/v1/predictions" target="_blank">/api/v1/predictions?year={year}</a></code></li>
    </ul>

    <h2 class="h3">Adding/modifying data</h2>

    <p>Updating the data is possible, but not through the API.</p>
    <p class="mb--0">If you want to add a new weather-predicting animal or update one, head over to
        <a class="link--icon underline" href="/add-groundhog">
          {{ icon({ add: true }) }} <span>add a groundhog</span>
        </a>.
      </p>
  </div>
{% endblock %}
