{% extends "layout.njk" %}

{% block body_classes -%}
  api
{%- endblock %}

{% block content %}
  {{ page_header({ h1: 'API', backUrl: '/', backText: 'Home' }) }}

  <div class="max-width--850">
    <p>The {{ site_title({ url: true }) }} API is free, fast, and simple. It’s the critical infrastructure you need for your next multi-billion-dollar business venture.</p>

    <p>
      <span aria-hidden="true" class="flip-x large-font">🦫</span>
      <a href="/api/v1/" class="underline">https://groundhog-day.com/api/v1/</a>
      <span aria-hidden="true" class="large-font">🦫</span>
    </p>

    <p>Use the API to:</p>
    <ul class="with-bullets">
      <li>Get all groundhogs (and predictions)</li>
      <li>Get 1 groundhog (and predictions)</li>
      <li>Get all predictions for a given year</li>
    </ul>

    <p>That should be enough to get you started, but there is an OpenAPI schema coming soon if you need something more official for your Enterprise Groundhog Data Bus.</p>

    <h2 class="h3">Getting data</h2>

    <p>There are 3 endpoints. All are <code>GET</code> requests.

    <ul class="with-bullets">
      <li><code><a href="/api/v1/groundhogs">/api/v1/groundhogs</a></code></li>
      <li><code><a href="/api/v1/groundhogs/1">/api/v1/groundhog/{groundhogId}</a></code></li>
      <li><code><a href="/api/v1/predictions">/api/v1/predictions?year={year}</a></code></li>
    </ul>

    <h2 class="h3">Adding/modifying data</h2>

    <p>Updating the data is possible, but not through the API.</p>
    <p class="mb--0">If you want to add a new weather-predicting animal, or update the predictions for an existing one, please get in touch with me @ <a class="underline" href="mailto:paul@pcraig3.ca">paul@pcraig3.ca</a></p>
  </div>
{% endblock %}
