{% extends "layout.njk" %}

{% block body_classes -%}
  groundhog
{%- endblock %}

{% block content %}
  {% set dataUrl = ['/api/v1/groundhogs/', groundhog.slug] | join %}
  {{ page_header({ h1: groundhog.name, backUrl: back.url, backText: back.text, dataUrl: dataUrl }) }}

  <div class="inner-content inner-content--with-summary">
    <div class="flash">
      {% if groundhog.successor -%}
        <aside class="highlight highlight--none">
          <div class="icon"><span aria-hidden="true">👴</span></div>
          <div class="message"><span>Ollie retired in 2021. <a href="/groundhogs/heavens-wildlife-harvey" class="underline">Heaven’s Wildlife Harvey</a> is the new groundhog for Oil Springs.</span></div>
        </aside>
      {% elseif groundhog.predictions[0].shadow == true -%}
        <aside class="highlight highlight--winter">
          <div class="icon"><span aria-hidden="true">❄️</span></div>
          <div class="message"><span>In {{ groundhog.predictions[0].year }}, {{ groundhog.shortname }} predicted a <strong>longer winter</strong>.</span></div>
        </aside>
      {% elseif groundhog.predictions[0].shadow == false -%}
        <aside class="highlight highlight--spring">
          <div class="icon"><span aria-hidden="true">🌼</span></div>
          <div class="message"><span>In {{ groundhog.predictions[0].year }}, {{ groundhog.shortname }} predicted an <strong>early spring</strong>.</span></div>
        </aside>
      {% else %}
        <aside class="highlight highlight--none">
          <div class="icon"><span aria-hidden="true">🙊</span></div>
          <div class="message"><span>In {{ groundhog.predictions[0].year }}, {{ groundhog.shortname }} <strong>didn’t make a prediction</strong>.</span></div>
        </aside>
      {% endif %}
    </div>
    <div class="description">
      <h2 class="h4">About</h2>
      <p class="speakable">{{ groundhog.description }}</p>
    </div>

    <div class="summary">
      <div class="inner-content__side--container">
        <figure class="groundhog--image image">
          <img src="/images/ghogs/{{ groundhog.slug }}.jpeg" alt="{{ groundhog.name }}" />
          <figcaption>{{ groundhog.name }}</figcaption>
        </figure>

        {% if not groundhog.isGroundhog %}
          <div class="groundhog--type">
            <div class="subhead">{{ groundhog.shortname }} {{ groundhog.type | aAnAre }} <strong>{{ groundhog.type }}</strong></div>
          </div>
        {% endif %}
        <div class="groundhog--residence">
          {% set resides = 'Reside in' if 'hogs' in groundhog.type else 'Resides in' %}
          <div class="subhead">{{ resides }}</div>
          <div class="text">
            <a class="link--icon" href="/map?groundhog={{ groundhog.slug }}">
              {{ icon({ map: true }) }} <span>{{ groundhog.city }}, {{ groundhog.region }}, {{ groundhog.country }}</span>
            </a>            
          </div>
        </div>
        <div class="groundhog--source">
          <a href="{{ groundhog.source }}" target="_blank" class="underline" rel="noopener">Source</a>
          {% if groundhog.currentPrediction %}
            <a href="{{ groundhog.currentPrediction }}" target="_blank" class="underline" rel="noopener">Latest prediction</a>
          {% endif %}
        </div>
      </div>
      <div class="groundhog--contact">
        <p>
          {% if groundhog.contact -%}
            {%- if '@' in groundhog.contact -%}
              Email {{ groundhog.shortname }} at <a href="mailto:{{ groundhog.contact }}" class="underline">{{ groundhog.contact }}</a>
            {%- else -%}
              Get in touch with {{ groundhog.shortname }} at <a href="https://{{ groundhog.contact }}" class="underline" target="_blank" rel="noopener">{{ groundhog.contact }}</a>.</a>
            {%- endif -%}
          {%- else -%}
            <a href="/contact" class="underline">Get in touch</a> to edit this groundhog.
          {%- endif %}
        </p>
      </div>
    </div>

    <div class="predictions">
      <div class="recent-predictions data-table" role="region" aria-labelledby="data-table--recent-predictions">
        <table class="data-table__table">
          <caption id="data-table--recent-predictions">
            <h2 class="data-table__title h4">Past predictions</h2>
          </caption>
          <thead>
            <tr>
              <th>Year</th>
              <th class="hidden--mobile-xs">Saw shadow?</th>
              <th class="center--mobile">Prediction</th>
            </tr>
          </thead>
          <tbody>
            {%- for prediction in groundhog.predictions -%}
              <tr>
                <th><a href="/predictions/{{ prediction.year }}" class="underline">{{ prediction.year }}</a></th>
                <td class="hidden--mobile-xs">
                  {% if prediction.shadow == true -%}
                    Yes, saw shadow
                  {%- elseif prediction.shadow == false -%}
                    Nope, no shadow
                  {%- else -%}
                    <span aria-hidden="true">—</span>
                    <span class="visually-hidden">No prediction.</span>
                  {%- endif %}
                </td>
                <td class="center--mobile">
                  {%- if prediction.shadow == true %}
                    <span aria-hidden="true">❄️</span> More winter
                  {%- elseif prediction.shadow == false -%}
                    <span aria-hidden="true">🌼</span> Early spring
                  {%- else -%}
                    <span aria-hidden="true">—</span>
                    <span class="visually-hidden">No prediction.</span>
                  {% endif -%}
                </td>
              </tr>
            {%- endfor -%}
          </tbody>
        </table>
        <p class="all-predictions">
          <a href="/groundhogs/{{ groundhog.slug }}/predictions" class="underline link--icon">
            All {{ groundhog.predictionsCount }} predictions {{ icon({ right: true }) }}
          </a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
