{% extends "layout.njk" %}

{% block body_classes -%}
  groundhogs
{%- endblock %}

{% block footer_scripts %}
  <script src="/javascripts/vendor/list.min.js"></script>
  <script>
    new List('sortable--groundhogs', {
      valueNames: ['name', 'region', 'country', 'latest', 'count']
    });
  </script>
  <script src="/javascripts/filter.js"></script>
{% endblock %}

{% block content %}
  {% block groundhogsHeader %}
    {{ page_header({ h1: title, backUrl: '/', backText: 'Home', dataUrl: '/api/v1/groundhogs/' }) }}
  {% endblock %}

  <div class="inner-content">
    <div class="inner-content__main">
      <div class="max-width--850">
        {% block groundhogsIntro %}
          <p>
            There are <strong>{{ groundhogs | length }}</strong> weather-forecasting prognosticators in <a href="/groundhogs-in-canada" aria-label="Groundhogs in Canada">Canada</a> or <a href="/groundhogs-in-usa" aria-label="Groundhogs in the USA">the USA</a> who made predictions in 2022 — including <a href="/alternative-groundhogs"><strong>{{ groundhogTypes.other }}</strong> ‘alternative’ groundhogs</a>.
          </p>
          <p>
            Use the <a class="link--icon" href="/map">
              {{ icon({ map: true }) }} <span>Groundhog Map</span>
            </a> to locate your fave prognosticator.
          </p>
        {% endblock %}
      </div>
      <div id="sortable--groundhogs">
        <form class="sortable--groundhogs--search--container">
          <div role="search">
            <label for="sortable--groundhogs--search">Find groundhogs by name:</label>
            <div class="sortable--groundhogs--search--results">
              <span class="visually-hidden">Groundhogs will be filtered as you type</span>
              <input id="sortable--groundhogs--search" class="search" placeholder="{% block groundhogsPlaceholder %}Chuck…{% endblock %}" type="search" />
              <span id="sortable--groundhogs--results" class="results" aria-live="polite"></span>
            </div>
          </div>
        </form>

        {% block groundhogsTable %}
          <div class="groundhogs data-table" role="region" aria-labelledby="data-table--groundhogs" tabindex="0">
            <table class="data-table__table">
              <caption id="data-table--groundhogs">
                <h2 class="data-table__title h4">All groundhogs</h2>
              </caption>
              <thead class="visible">
                <tr>
                  <th class="sort" data-sort="name" tabIndex="0">Name</th>
                  <th class="sort" data-sort="region" tabIndex="0">Region</th>
                  <th class="sort extra-padding" data-sort="country" tabIndex="0">Country</th>
                  <th class="sort extra-padding" data-sort="latest" tabIndex="0">Latest prediction</th>
                  <th class="sort extra-padding" data-sort="count" data-default-order="desc" tabIndex="0">Total predictions</th>
                </tr>
              </thead>
              <tbody class="list">
                {% for groundhog in groundhogs %}
                  <tr onclick="window.location='/groundhogs/{{ groundhog.slug }}';">
                    <th class="name"><a href="/groundhogs/{{ groundhog.slug }}" class="underline">{{ groundhog.name }}</a></th>
                    <td class="region">
                      {{ groundhog.region }}
                    </td>
                    <td class="country">
                      {{ groundhog.country }}
                    </td>
                    <td class="latest">
                      {% if groundhog.latestPrediction.shadow == true -%}
                        <span role="img" aria-label="Longer winter">❄️</span>
                      {% elseif groundhog.latestPrediction.shadow == false -%}
                        <span role="img" aria-label="Early spring">🌼</span>
                      {% else -%}
                        <span role="img" aria-label="No prediction">—</span>
                      {% endif %}
                    </td>
                    <td class="count">
                      {{ groundhog.predictionsCount }}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% endblock %}
      </div>
    </div>
    <div style="margin-top: 1.5em;">
      <p class="mb--0">If you don’t see your favourite prognosticator, feel free to
        <a class="link--icon underline" href="/add-groundhog">
          {{ icon({ add: true }) }} <span>add a groundhog</span>
        </a>.
      </p>
    </div>
  </div>
{% endblock %}
