{% extends "layout.njk" %}

{% block body_classes -%}
  groundhog
{%- endblock %}

{% block content %}
  {% set dataUrl = ['/api/v1/groundhogs/', groundhog.id] | join %}
  {{ page_header({ h1: groundhog.name, backUrl: '/groundhogs', backText: 'All groundhogs', dataUrl: dataUrl }) }}

  <div class="inner-content inner-content--with-summary">
    <div class="description">
      {% if groundhog.predictions[0].shadow %}
        <aside class="highlight highlight--winter">
          <div class="icon"><span aria-hidden="true">❄️</span></div>
          <div class="message"><span>This year, {{ groundhog.shortname }} predicted a <strong>longer winter</strong>.</span></div>
        </aside>
      {% else %}
        <aside class="highlight highlight--spring">
          <div class="icon"><span aria-hidden="true">🌼</span></div>
          <div class="message"><span>This year, {{ groundhog.shortname }} predicted an <strong>early spring</strong>.</span></div>
        </aside>
      {% endif %}

      <h2 class="h4">About</h2>
      <p>{{ groundhog.description }}</p>
    </div>

    <div class="summary">
      <div class="inner-content__side--container">
        <figure class="groundhog--image image">
          <img src="/images/ghogs/{{ groundhog.id }}-{{ groundhog.shortname | lower }}.png" alt="{{ groundhog.name }}" />
          <figcaption>{{ groundhog.name }}</figcaption>
        </figure>

        <div class="groundhog--residence">
          <div class="subhead">Resides in</div>
          <div class="text">
            {{ groundhog.city }}, {{ groundhog.region }}, {{ groundhog.country }}
          </div>
        </div>
        <div class="groundhog--source">
          <a href="{{ groundhog.source }}" target="_blank" class="underline">Source</a>
          <a href="{{ groundhog.currentPrediction }}" target="_blank" class="underline">Latest prediction</a>
        </div>
      </div>
    </div>

    <div class="predictions">
      <div class="recent-predictions data-table" role="region" aria-labelledby="data-table--recent-predictions">
        <table class="data-table__table">
          <caption id="data-table--recent-predictions">
            <h2 class="data-table__title h4">Past predictions</h2>
          </caption>
          <thead>
            <tr>
              <th>Year</th>
              <th class="hidden--mobile-xs">Saw shadow?</th>
              <th class="center--mobile">Prediction</th>
            </tr>
          </thead>
          <tbody>
            {%- for prediction in groundhog.predictions -%}
              {% if prediction.year >= 2018 %}
                <tr>
                  <th role="columnheader"><a href="/predictions/{{ prediction.year }}" class="underline">{{ prediction.year }}</a></th>
                  <td class="hidden--mobile-xs">
                    {% if prediction.shadow -%}
                      Yes, saw shadow
                    {%- else -%}
                      Nope, no shadow
                    {%- endif %}
                  </td>
                  <td class="center--mobile">
                    {%- if prediction.shadow %}
                      <span aria-hidden="true">❄️</span> More winter
                    {% else %}
                      <span aria-hidden="true">🌼</span> Early spring
                    {% endif -%}
                  </td>
                </tr>
              {% endif %}
            {%- endfor -%}
          </tbody>
        </table>
        <p class="all-predictions">
          <a href="/groundhogs/{{ groundhog.id }}/predictions" class="underline link--icon">
            All {{ groundhog.predictions | length }} predictions {{ icon({ right: true }) }}
          </a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
