{% extends "layout.njk" %}

{% block body_classes -%}
  groundhogs
{%- endblock %}

{% block content %}
  {{ page_header({ h1: title, backUrl: '/', backText: 'Home', dataUrl: '/api/v1/groundhogs/' }) }}

  <div class="inner-content">
    <div class="inner-content__main">
      <p>There are <strong>{{ groundhogs | length }}</strong> weather-predicting groundhogs who made predictions in 2022.</p>

      <p>If you don’t see your favourite prognosticator, feel free to <a href="#" class="underline"><span aria-hidden="true">+</span> add a groundhog.</a></p>
      <div class="groundhogs data-table" role="region" aria-labelledby="data-table--groundhogs" tabindex="0">
        <table role="grid" class="data-table__table">
          <caption id="data-table--groundhogs">
            <h2 class="data-table__title h4">All groundhogs</h2>
          </caption>
          <thead role="presentation" class="visible">
            <tr role="row">
              <th role="rowheader">Name</th>
              <th role="rowheader">Region</th>
              <th role="rowheader">Country</th>
              <th role="rowheader">Latest prediction</th>
              <th role="rowheader">Total predictions</th>
            </tr>
          </thead>
          <tbody role="presentation">
            {% for groundhog in groundhogs %}
              <tr role="row" onclick="window.location='/groundhogs/{{groundhog.id}}';">
                <th role="columnheader"><a href="/groundhogs/{{groundhog.id}}" class="underline">{{ groundhog.name }}</a></th>
                <td role="gridcell">
                  {{ groundhog.region }}
                </td>
                <td role="gridcell">
                  {{ groundhog.country }}
                </td>
                <td role="gridcell">
                  {% if groundhog.latestPrediction.shadow %}
                    <span role="img" aria-label="Longer winter">❄️</span>
                  {% else %}
                    <span role="img" aria-label="Early spring">🌼</span>
                  {% endif %}
                </td>
                <td role="gridcell">
                  {{ groundhog.predictionsCount }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
