{% extends "pages/groundhogs.njk" %}

{% block body_classes -%}
  groundhogs--alternative
{%- endblock %}

{% block footer_scripts %}
  <script src="/javascripts/vendor/list.min.js"></script>
  <script>
    new List('sortable--groundhogs', {
      valueNames: ['name', 'type', 'country', 'latest', 'count']
    });
  </script>
  <script src="/javascripts/filter.js"></script>
{% endblock %}

{% block groundhogsHeader %}
  {{ page_header({ h1: title, backUrl: '/groundhogs', backText: 'All groundhogs', dataUrl: '/api/v1/groundhogs?isGroundhog=false' }) }}
{% endblock %}

{% block groundhogsIntro %}
  <p>There are <strong>{{ groundhogs | length }}</strong> non-traditional prognosticators. Alternative ‘groundhogs’ include: other species, taxidermied groundhogs, plush stuffed animals, folks in costume (think sports mascots).</p>
  <p>It turns out that ‘Groundhog’ is more like a job title and less about literally being a <i>Marmota monax</i>.</p>
  <p>
    Use the <a class="link--icon" href="/map">
      {{ icon({ map: true }) }} <span>Groundhog Map</span>
    </a> to locate your fave alt-hog.
  </p>
{% endblock %}}

{% block groundhogsPlaceholder %}Lucy…{% endblock %}

{% block groundhogsTable %}
  <div class="groundhogs data-table" role="region" aria-labelledby="data-table--groundhogs" tabindex="0">
    <table class="data-table__table">
      <caption id="data-table--groundhogs">
        <h2 class="data-table__title h4">Alternative groundhogs</h2>
      </caption>
      <thead class="visible">
        <tr>
          <th class="sort" data-sort="name" tabIndex="0">Name</th>
          <th class="sort" data-sort="type" tabIndex="0">Type</th>
          <th class="sort" data-sort="country" tabIndex="0">Country</th>
          <th class="sort extra-padding" data-sort="latest" tabIndex="0">Latest prediction</th>
          <th class="sort extra-padding" data-sort="count" data-default-order="desc" tabIndex="0">Total predictions</th>
        </tr>
      </thead>
      <tbody class="list">
        {% for groundhog in groundhogs %}
          <tr onclick="window.location='/groundhogs/{{ groundhog.slug }}';">
            <th class="name"><a href="/groundhogs/{{ groundhog.slug }}" class="underline">{{ groundhog.name }}</a></th>
            <td class="type">
              {{ groundhog.type }}
            </td>
            <td class="country">
              {{ groundhog.country }}
            </td>
            <td class="latest">
              {% if groundhog.latestPrediction.shadow == true -%}
                <span role="img" aria-label="Longer winter">❄️</span>
              {% elseif groundhog.latestPrediction.shadow == false -%}
                <span role="img" aria-label="Early spring">🌼</span>
              {% else -%}
                <span role="img" aria-label="No prediction">—</span>
              {% endif %}
            </td>
            <td class="count">
              {{ groundhog.predictionsCount }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
