{% extends "layout.njk" %}

{% block body_classes -%}
  groundhogs
{%- endblock %}

{% block content %}
  {{ page_header({ h1: title, backUrl: '/', backText: 'Home', dataUrl: '/api/v1/groundhogs/' }) }}

  <div class="inner-content">
    <div class="inner-content__main">
      <div class="max-width--850">
        <p>There are <strong>{{ groundhogs | length }}</strong> weather-predicting groundhogs who made predictions in 2022.</p>
        <p>If you don’t see your favourite prognosticator, feel free to
          <a class="link--icon" href="add-groundhog">
            {{ icon({ add: true }) }} <span>add a groundhog</span>
          </a>.
        </p>

        {% if nameFirst %}
          {% set predictionsUrl = '/groundhogs' %}
          <p>Groundhogs are sorted alphabetically. <a href="{{ predictionsUrl }}" class="underline">Sort groundhogs by number of predictions</a>.</p>
        {% else %}
          {% set nameUrl = '/groundhogs?nameFirst=true' %}
          <p>Groundhogs are sorted by number of predictions. <a href="{{ nameUrl }}" class="underline">Sort groundhogs alphabetically</a>.</p>
        {% endif %}
      </div>
      <div class="groundhogs data-table" role="region" aria-labelledby="data-table--groundhogs" tabindex="0">
        <table class="data-table__table">
          <caption id="data-table--groundhogs">
            <h2 class="data-table__title h4">All groundhogs</h2>
          </caption>
          <thead class="visible">
            <tr>
              <th>Name</th>
              <th>Region</th>
              <th>Country</th>
              <th>Latest prediction</th>
              <th>Total predictions</th>
            </tr>
          </thead>
          <tbody>
            {% for groundhog in groundhogs %}
              <tr onclick="window.location='/groundhogs/{{ groundhog.slug }}';">
                <th><a href="/groundhogs/{{ groundhog.slug }}" class="underline">{{ groundhog.name }}</a></th>
                <td>
                  {{ groundhog.region }}
                </td>
                <td>
                  {{ groundhog.country }}
                </td>
                <td>
                  {% if groundhog.latestPrediction.shadow %}
                    <span role="img" aria-label="Longer winter">❄️</span>
                  {% else %}
                    <span role="img" aria-label="Early spring">🌼</span>
                  {% endif %}
                </td>
                <td>
                  {{ groundhog.predictionsCount }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
