{% extends "pages/groundhogs.njk" %}

{% block body_classes -%}
  groundhogs--active
{%- endblock %}

{% block footer_scripts %}
  <script src="/javascripts/vendor/list.min.js"></script>
  <script>
    new List('sortable--groundhogs', {
      valueNames: ['name', 'region', 'country', 'latest', 'count']
    });
  </script>
  <script src="/javascripts/filter.js"></script>
{% endblock %}

{% block groundhogsHeader %}
  {{ page_header({ h1: title, backUrl: '/groundhogs', backText: 'All groundhogs', dataUrl: '/api/v1/groundhogs?isActive=true' }) }}
{% endblock %}

{% block groundhogsIntro %}
  <p>There are <strong>{{ groundhogs | length }}</strong> active weather-forecasting prognosticators in total. You can also see:</p>
  <ul class="with-bullets">
    <li><a href="/groundhogs" aria-label="All groundhogs">All groundhogs</a> ({{ groundhogCounts.all }})</li>
    <li><a href="/groundhogs-in-canada" aria-label="Groundhogs in Canada">Canadian groundhogs</a> ({{ groundhogCounts.canada }})</li>
    <li><a href="/groundhogs-in-usa" aria-label="Groundhogs in the USA">American groundhogs</a> ({{ groundhogCounts.usa }})</li>
    <li><a href="/alternative-groundhogs">‘Alternative’ groundhogs</a> ({{ groundhogCounts.other }})</li>
  </ul>
  <p>
    Use the <a class="link--icon" href="/map">
      {{ icon({ map: true }) }} <span>Groundhog Map</span>
    </a> to find your fave prognosticator.
  </p>
{% endblock %}

{% block groundhogsTable %}
  <div class="groundhogs data-table" role="region" aria-labelledby="data-table--groundhogs" tabindex="0">
    <table class="data-table__table">
      <caption id="data-table--groundhogs">
        <h2 class="data-table__title h4">Active groundhogs</h2>
      </caption>
      <thead class="visible">
        <tr>
          <th class="sort" data-sort="name" tabIndex="0">Name</th>
          <th class="sort" data-sort="region" tabIndex="0">Region</th>
          <th class="sort extra-padding" data-sort="country" tabIndex="0">Country</th>
          <th class="sort extra-padding" data-sort="latest" tabIndex="0">Latest prediction</th>
          <th class="sort extra-padding" data-sort="count" data-default-order="desc" tabIndex="0">Total predictions</th>
        </tr>
      </thead>
      <tbody class="list">
        {% for groundhog in groundhogs %}
          <tr onclick="window.location='/groundhogs/{{ groundhog.slug }}';">
            <th class="name"><a href="/groundhogs/{{ groundhog.slug }}" class="underline">{{ groundhog.name }}</a></th>
            <td class="region">
              {{ groundhog.region }}
            </td>
            <td class="country">
              {{ groundhog.country }}
            </td>
            <td class="latest">
              {% if groundhog.latestPrediction.shadow == true -%}
                <span role="img" aria-label="Longer winter">❄️</span>
              {% elseif groundhog.latestPrediction.shadow == false -%}
                <span role="img" aria-label="Early spring">🌼</span>
              {% else -%}
                <span role="img" aria-label="Prediction pending">⏳</span>
              {% endif %}
            </td>
            <td class="count">
              {{ groundhog.predictionsCount }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
