{% extends "layout.njk" %}

{% block body_classes -%}
  history
{%- endblock %}

{% block content %}
  {{ page_header({ h1: 'History of Groundhog Day', backUrl: '/', backText: 'Home' }) }}

  <div class="max-width--850">
    <p>At first glance, Groundhog Day may not seem to have emerged from strict scientific principles or a rational Enlightenment worldview.</p>

    <p>Various questions present themselves immediately:</p>
    <ul class="with-bullets">
      <li>Aren’t groundhogs asleep in February?</li>
      <li>Why are men in top hats yanking them from their burrows in the middle of winter?</li>
      <li>How much can an animal that lives most of its life underground even know about the weather? (Not much, according to <a href="/groundhogs/scramble-the-duck">Scramble the Duck</a>.)
    </ul>

    <p>However, it’s not as bananas as you might think. It turns out that the modern Groundhog Day tradition is a tale of adaptation, with its origin in a centuries-old Christian holiday.</p>

    <h3 class="h4" id="candlemas-the-groundhog-day-forerunner">Candlemas, the Groundhog Day forerunner</h3>
    <p class="speakable"><a href="https://www.history.com/this-day-in-history/first-groundhog-day" target="_blank">Groundhog Day is rooted in the historical Christian tradition of <strong>Candlemas</strong></a>, about halfway between the winter solstice and the spring equinox. Conventionally, this was understood to be the midpoint of winter, and superstition held that if Candlemas was sunny, the second half of winter would be cold and stormy, whereas a cloudy day portended the arrival of spring.</p>
    <p><a href="https://www.stormfax.com/ghogday.htm" target="_blank">There is an old English poem that captures this folk wisdom:</a>
    <blockquote>
    If Candlemas be fair and bright,<br />
    Winter has another flight.<br />
    If Candlemas brings clouds and rain,<br />
    Winter will not come again.
    </blockquote>
    <p>Winter can suck to live through, especially before central heating and dual-paned windows, so you can imagine vintage societies were hopeful for signs of spring. And there’s something intuitive here: spring weather can be pretty miserable — often grey, rainy and wet — whereas the middle of winter has plenty of bright, clear days where it is insensibly cold outside.</p>
    <p>Essentially, the Candlemas prediction is that overcast weather indicates spring is on the way, whereas a clear day means you’re still in the middle of winter with no end in sight.</p>

    <h3 class="h4" id="so-why-the-groundhog">So why the groundhog?</h3> 
    <p>Obviously the ‘let’s check the sun’ part of Groundhog Day doesn’t explain the central figure: a mythical marmot who predicts the future. This dubious innovation also comes from traditional folk wisdom. According to custom in historical German/Dutch communities, if bears, badgers, or hedgehogs were observed around the time of Candlemas Day, it was a sign that spring was just around the corner.</p>
    <p>Bears, badgers, and hedgehogs are hibernating animals. If they come out of hibernation in early February, it suggests the weather is improving. However, if they go outside and “see their shadow” (ie, the sun is out, so it’s not yet spring), they realize they are up prematurely and hit the snooze alarm for a few more weeks.</p>
    <p>When European settlers arrived in North America, they didn’t find too many badgers, but they did find groundhogs and bears. <a href="https://www.canadashistory.ca/explore/environment/the-battle-for-february-2" target="_blank">In Canada, it appears that bears were initially preferred to give a seasonal prediction</a> instead of groundhogs, which were firmly established in the US Northeast. (<a href="https://blogs.loc.gov/folklife/2022/02/groundhog-day-ancient-origins-of-a-modern-celebration/" target="_blank">Numerous “Groundhog Lodges” were established in New England in the early 1900’s</a>).</p>
    <p>Importantly, groundhogs have practical advantages over bears for public events: eg, you can move them around easily and they won’t tear your head off (even if <a href="https://www.nbcnews.com/news/weird-news/jimmy-groundhog-bites-sun-prairie-wisconsin-mayors-ear-n298656" target="_blank">they do like to nip an ear every now and again</a>). So, over time, the ‘Bear Day’ variant lost out to the now-dominant market leader, the humble groundhog.</p>
    <p>However, this doesn’t mean that a groundhog is <em>required</em>. Scrolling around the <a href="/map">Groundhog Map</a>, you find that <a href="/alternative-groundhogs">alternative groundhogs</a> are very popular, particularly in places where they don’t have alive groundhogs or a dead groundhog nailed to a log.</p>

    <h3 class="h4" id="the-staying-power-of-groundhog-day">The staying power of Groundhog Day</h3> 
    <p>Famously, <a href="https://www.noaa.gov/heritage/stories/grading-groundhogs" target="_blank">Punxsutawney Phil is only accurate ~35% of the time</a>, meaning that Groundhog Day isn’t really about reliable predictions. Instead, there’s something else at work here.</p>
    <p class="mb--0">Groundhog Day is a quaint bit of amusement that breaks up the monotony of an otherwise fairly joyless time of the year. For the winter-afflicted, early February is a low point: winter has already been around for months with seemingly no end in sight. Cue Groundhog Day, arriving with a lot of cheer and a little ridiculousness: elevating a plump, fuzzy little animal that is hard not to love.</p>
  </div>
{% endblock %}
