{% extends "layout.njk" %}

{% block header_scripts -%}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/javascripts/vendor/leaflet/dist/leaflet.css" >
    <script src="/javascripts/vendor/leaflet/dist/leaflet.js"></script>

    <link rel="stylesheet" href="/javascripts/vendor/leaflet.markercluster/dist/MarkerCluster.css" >
    <link rel="stylesheet" href="/javascripts/vendor/leaflet.markercluster/dist/MarkerCluster.Default.css" >
    <script src="/javascripts/vendor/leaflet.markercluster/dist/leaflet.markercluster-src.js"></script>
{%- endblock %}

{% block body_classes -%}
  map
{%- endblock %}

{% block content %}
  {{ page_header({ h1: 'Groundhog Map', backUrl: back.url, backText: back.text}) }}

  <div class="max-width--850">
    <div tabIndex="0" class="screenreader-message">
      <p>Note for keyboard users: <a href="/groundhogs">the table of all {{ totals.all }} groundhogs</a> might be easier to navigate than this map.</p>
    </div>
    <p>There are <a href="/groundhogs"><strong>{{ totals.all }}</strong> prognosticators</a> throughout North America: <a href="/groundhogs-in-usa"><strong>{{ totals.usa }}</strong> in the USA</a>, and <a href="/groundhogs-in-canada"><strong>{{ totals.canada }}</strong> in Canada</a>.
    <br />
    Use the map to find your nearest Groundhog Day prognosticator (unless you’re from Saskatchewan — sorry bud).</p>
  </div>

  <div class="map--container">
    <div class="map--list--wrapper" >
      <div class="map--list" id="sortable--map" data-initial="{{ initial }}">
        <form class="sortable--map--search--container">
          <div role="search">
            <label for="sortable--map--search">Find groundhogs by name:</label>
            <div class="sortable--map--search--results">
              <span class="visually-hidden">Groundhogs will be filtered as you type</span>
              <input id="sortable--map--search" class="search" placeholder="Chuck…" type="search" />
              <span id="sortable--map--results" class="results" aria-live="polite"></span>
            </div>
          </div>
        </form>

        <div class="top-border"></div>

        <ul class="list">
          {% for g in groundhogs %}
            <li>
              <button class="card" data-id="{{ g.id }}">
                <div class="name card--heading h5">{{ g.name }}</div>
                <div class="type card--subhead">{{ g.type }}</div>
                <div class="location card--subhead">{{ g.city }}, {{ g.region }}</div>
                <div class="card--subhead"><a class="link-button" href="/groundhogs/{{ g.slug }}">More information<span class="visually-hidden">about {{ g.name }}</span></a></div>
              </button>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div id="map" class="map--leaflet"></div>
  </div>
{% endblock %}

{% block footer_scripts %}
  <script id="data" type="application/json">
   {{ groundhogs | dump | safe }}
  </script>
  <script src="/javascripts/map.js"></script>

  <script src="/javascripts/vendor/list.min.js"></script>
  <script>
    new List('sortable--map', {
      valueNames: ['name', 'type', 'location']
    });
  </script>
  <script src="/javascripts/filter.js"></script>
{% endblock %}
