{% extends "layout.njk" %}

{% block header_scripts -%}
    <meta name="robots" content="noindex,nofollow">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/javascripts/vendor/leaflet/dist/leaflet.css" />
    <script src="/javascripts/vendor/leaflet/dist/leaflet.js"></script>

    <link rel="stylesheet" href="/javascripts/vendor/leaflet.markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="/javascripts/vendor/leaflet.markercluster/dist/MarkerCluster.Default.css" />
    <script src="/javascripts/vendor/leaflet.markercluster/dist/leaflet.markercluster-src.js"></script>
{%- endblock %}

{% block body_classes -%}
  map
{%- endblock %}

{% block content %}
  {{ page_header({ h1: 'Map', backUrl: '/home', backText: 'Home'}) }}

  <p>Welcome to the map of all the groundhogs. It is mostly working.</p>

  <div class="map--container">
    <div class="map--list">
      <ul id="sortable--map">
        {% for g in groundhogs %}
          <li>
            <div class="card" data-id="{{ g.id }}">
              <div class="name card--heading h5">{{ g.name }}</div>
              <div class="card--subhead">{{ g.type }}</div>
              <div class="card--subhead">{{ g.city }}, {{ g.region }}</div>
              <div class="card--subhead">{{ g.predictionsCount }} predictions since {{ g.predictions[0].year }}</div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div id="map" class="map--leaflet"></div>
  </div>
{% endblock %}

{% block footer_scripts %}
  <script id="data" type="application/json">
   {{ groundhogs | dump | safe }}
  </script>
  <script src="/javascripts/map.js"></script>
{% endblock %}
