{% extends "layout.njk" %}

{% block body_classes -%}
  predictions
{%- endblock %}

{% block content %}
  {% set h1 = [years.year, ' predictions'] | join %}
  {% set dataUrl = ['/api/v1/predictions/?year=', years.year] | join %}
  {{ page_header({ h1: h1, backUrl: '/predictions', backText: 'Predictions', dataUrl: dataUrl }) }}

  <div class="predictions--summary">
    <ul>
      <li>
        <div class="predictions--summary--item predictions--summary--spring">
          <div class="icon"><span aria-hidden="true">🌼</span></div>
          <strong class="h1">{{ predictionTotals.spring }}</strong> predicted <span class="predictions--summary--highlight">early spring</span>
        </div>
      </li><!--
      --><li>
        <div class="predictions--summary--item predictions--summary--winter">
          <div class="icon"><span aria-hidden="true">❄️</span></div>
          <strong class="h1">{{ predictionTotals.winter }}</strong> predicted <span class="predictions--summary--highlight">longer winter</span>
        </div>
      </li>
    </ul>
  </div>
  <div class="predictions">
    <h2 class="h5">{{ predictions | length }} predictions in {{ years.year }}</h3>
    <div class="card--grid">
      {% for prediction in predictions %}
        <a href="/groundhogs/{{ prediction.groundhog.slug }}">
          <div class="card card--{{ 'winter' if prediction.shadow == true else 'spring' }}">
              <span class="card--triangle"></span>
              <div class="card--heading h4">{{ prediction.groundhog.name }}</div>
              <div class="card--subhead">{{ prediction.groundhog.region }}, {{ prediction.groundhog.country }}</div>
              <div class="card--details card--bg-change">
                {% if prediction.shadow == true -%}
                  <div class="icon"><span aria-hidden="true">❄️</span></div>
                  <div>Longer winter</div>
                {%- elseif prediction.shadow == false -%}
                  <div class="icon"><span aria-hidden="true">🌼</span></div>
                  <div>Early spring</div>
                {% else %}
                  <div>No prediction</div>
                {% endif %}
              </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
  <div class="predictions--navigation">
    {% if years.next %}
      <a href="/predictions/{{ years.next }}" class="predictions--navigation--next-year underline link--icon">
        {{ icon({ left: true }) }} <span>{{ years.next }} predictions</span>
      </a>
    {% else %}
      {# otherwise the "prev" link is on the left hand side #}
      <span></span>
    {% endif %}
    {% if years.prev %}
      <a href="/predictions/{{ years.prev }}" class="predictions--navigation--prev-year underline link--icon">
        <span>{{ years.prev }} predictions</span> {{ icon({ right: true }) }}
      </a>
    {% endif %}
  </div>
{% endblock %}
