{% extends "layout.njk" %}

{% block body_classes -%}
  predictions
{%- endblock %}

{% block footer_scripts %}
  <script src="/javascripts/vendor/list.min.js"></script>
  <script>
    const list = new List('sortable--year', {
      valueNames: ['name', 'prediction']
    });
    const form = document.querySelector('#sortable--year--form');
    const select = document.querySelector('#sortable--year--select');

    form.classList.add('js-enabled')
    form.addEventListener('submit', handleSubmit);
    select.addEventListener('change', handleSubmit);

    function handleSubmit(e) {
      e.preventDefault();

      let [name, order] = select.value.split('--')
      if(name) {
        list.sort(name, { order });
      }
    }
  </script>
{% endblock %}

{% block content %}
  {% set h1 = ['Groundhog Day ', years.year, ' results'] | join %}
  {% set dataUrl = ['/api/v1/predictions?year=', years.year] | join %}
  {{ page_header({ h1: h1, backUrl: back.url, backText: back.text, dataUrl: dataUrl }) }}

  <div class="max-width--850">
  <p class="speakable">
    {%- if not intro.predictionTied -%}
      {{ intro.lead }}. Most groundhogs <span aria-hidden='true'>({{ intro.predictionPercent }}%)</span> predicted <strong>{{ intro.predictionConclusion }}</strong>.
    {%- else -%}
      {{ intro.lead }}. {{ intro.predictionConclusion }}.
    {%- endif -%}
  </p>
  </div>

  <div class="predictions--summary">
    <ul>
      <li>
        <div class="predictions--summary--item{%- if predictionTotals.prediction != 'winter' %} predictions--summary--spring{%- endif -%}">
          <div class="icon"><span aria-hidden="true">🌼</span></div>
          <strong class="h1">{{ predictionTotals.spring }}</strong> predicted <span class="predictions--summary--highlight">early spring</span>
        </div>
      </li><!--
      --><li>
        <div class="predictions--summary--item{%- if predictionTotals.prediction != 'spring' %} predictions--summary--winter{%- endif -%}">
          <div class="icon"><span aria-hidden="true">❄️</span></div>
          <strong class="h1">{{ predictionTotals.winter }}</strong> predicted <span class="predictions--summary--highlight">longer winter</span>
        </div>
      </li>
    </ul>
    <div class="predictions--navigation">
      {% if years.next %}
        <a href="/predictions/{{ years.next }}" class="predictions--navigation--next-year underline link--icon">
          {{ icon({ left: true }) }} <span>{{ years.next }}<span class="hidden--mobile-xs"> results</span></span>
        </a>
      {% endif %}
      {% if years.prev %}
        <a href="/predictions/{{ years.prev }}" class="predictions--navigation--prev-year underline link--icon">
          <span>{{ years.prev }}<span class="hidden--mobile-xs"> results</span></span> {{ icon({ right: true }) }}
        </a>
      {% endif %}
    </div>
  
  </div>
  {% if predictionTotals.total -%}
  <div class="predictions" id="sortable--year">
    <h2 class="h5">{{ predictionTotals.total }} prediction{%- if predictionTotals.total != 1 -%}s{%- endif %} in {{ years.year }}</h2>
    <form id="sortable--year--form">
      <label for="sortable--year--select">Sort by</label>
      <select name="year" id="sortable--year--select">
          <option value="" selected disabled>—</option>
          <option value="name--asc" aria-label="Name, from A to Z">Name (A → Z)</option>
          <option value="name--desc" aria-label="Name, from Z to A">Name (Z → A)</option>
          <option value="prediction--desc" aria-label="Predictions: early spring predictions first, then longer winter">Prediction (🌼 → ❄️)</option>
          <option value="prediction--asc" aria-label="Predictions: longer winter predictions first, then early spring">Prediction (❄️ → 🌼)</option>
      </select>
    </form>
    <ul class="card--grid no-paragraph-margin list">
      {% for prediction in predictions %}
        <li>
        <a href="/groundhogs/{{ prediction.groundhog.slug }}">
          {% set classname = 'card--winter' if prediction.shadow == true else ('card--spring' if prediction.shadow == false else 'card--no-prediction') %}
          <div class="card {{ classname }}">
              <span class="card--triangle"></span>
              <div class="name card--heading h5">{{ prediction.groundhog.name }}</div>
              <div class="card--subhead">{{ prediction.groundhog.region }}, {{ prediction.groundhog.country }}</div>
              <div class="prediction card--details card--bg-change">
                {% if prediction.shadow == true -%}
                  <div class="icon"><span aria-hidden="true">❄️</span></div>
                  <div>Longer winter</div>
                {%- elseif prediction.shadow == false -%}
                  <div class="icon"><span aria-hidden="true">🌼</span></div>
                  <div>Early spring</div>
                {% else %}
                  <div class="icon"><span aria-hidden="true">⤫</span></div>
                  <div>No prediction</div>
                {% endif %}
              </div>
          </div>
        </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  {%- endif -%}
{% endblock %}
