{% extends "layout.njk" %}

{% block body_classes -%}
  years
{%- endblock %}

{% block footer_scripts %}
  <script src="/javascripts/vendor/list.min.js"></script>
  <script>
    new List('sortable--years', {
      valueNames: ['year']
    });
  </script>
{% endblock %}

{% block content %}
  {{ page_header({ h1: title, backUrl: '/', backText: 'Home', dataUrl: '/api/v1/predictions?year=2022' }) }}

  <div class="inner-content">
    <div class="inner-content__main">
      <p>Recorded predictions go as far back as <strong>{{ oldestPrediction }}</strong>.</p>

      <div id="sortable--years" class="years data-table" role="region" aria-labelledby="data-table--years" tabindex="0">
        <table class="data-table__table">
          <caption id="data-table--years">
            <h2 class="data-table__title h4">All predictions</h2>
          </caption>
          <thead class="visible">
            <tr>
              <th class="sort extra-padding" data-sort="year">Year</th>
              <th class="center--mobile">Prediction</th>
              <th class="center--mobile">Spring : Winter</th>
              <th class="hidden--mobile-xs">Total predictions</th>
            </tr>
          </thead>
          <tbody role="presentation" class="list">
              <tr onclick="window.location='/groundhog-day-2023';">
                <th class="year"><a href="/predictions/2023" class="underline">2023</a></th>
                <td class="center--mobile">
                  <span aria-hidden="true">—</span>
                  <span class="visually-hidden">No prediction yet</span>
                </td>
                <td class="center--mobile">
                  <span aria-hidden="true">—</span>
                </td>
                <td class="hidden--mobile-xs">
                  <span aria-hidden="true">—</span>
                </td>
              </tr>
            {% for prediction in predictions %}
              <tr onclick="window.location='/predictions/{{ prediction.year }}';">
                <th class="year"><a href="/predictions/{{ prediction.year}}" class="underline">{{ prediction.year }}</a></th>
                <td class="center--mobile">
                  {% if prediction.prediction == 'winter' %}
                    <span role="img" aria-label="Longer winter">❄️</span> <span class="hidden--mobile-xs">Longer winter</span>
                  {% elif prediction.prediction == 'spring' %}
                    <span role="img" aria-label="Early spring">🌼</span> <span class="hidden--mobile-xs">Early spring</span>
                  {% elif prediction.groundhogs.winter == '0' and prediction.groundhogs.spring == '0' %}
                    <span aria-hidden="true">—</span> <span class="visually-hidden">No prediction</span>
                  {% else %}
                    <span role="img" aria-label="Unclear">❓</span> <span class="hidden--mobile-xs">Unclear</span>
                  {% endif %}
                </td>
                <td class="center--mobile">
                  {{ prediction.groundhogs.spring }} : {{ prediction.groundhogs.winter }}
                </td>
                <td class="hidden--mobile-xs">
                  {% set totalPredictions = prediction.groundhogs.winter + prediction.groundhogs.spring %}
                  {{ totalPredictions }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
