@use '../mixins';
@use '../vars';

.inner-content__header {
  display: flex;
  border-bottom: 2px solid black;
  margin-bottom: vars.$space-xl;

  h1 {
    flex: 3;
    margin-bottom: 0;
  }

  > div {
    flex: 1;
    align-self: end;
    text-align: right;
  }

  @include mixins.mobile {
    flex-direction: column-reverse;

    > div {
      align-self: flex-start;
    }
  }
}
