@use '../mixins';
@use '../vars';

.all-predictions {
  padding: vars.$space-md 0 0 0;
  margin: 0;
  text-align: left;

  @include mixins.mobile-xs {
    padding-top: vars.$space-xl;
  }
}

.inner-content {
  h2 {
    padding-bottom: vars.$space-xs;
    margin-bottom: vars.$space-md;
    border-bottom: 1.5px solid black;
  }
}

.groundhog--image {
  margin: 0;
  padding: 0;

  img {
    border: 2px solid black;
    border-radius: 2px 2px 0 0;
  }

  figcaption {
    display: none;
  }
}

.groundhog--type {
  font-size: 80%;
  background: #eee;
  text-align: center;

  border: 2px solid black;
  border-top: none;

  @include mixins.mobile {
    font-size: 85%;
  }
}

.groundhog--residence {
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: vars.$space-md vars.$space-sm vars.$space-sm vars.$space-md;

  .subhead {
    font-weight: 400;
    font-size: 130%;
    line-height: 1.45;

    @include mixins.mobile {
      margin-bottom: vars.$space-xs;
    }
  }

  .icon.icon--map {
    margin-right: vars.$space-sm;
  }
}

.groundhog--source {
  background: black;
  color: white;
  padding: vars.$space-xs vars.$space-md vars.$space-xs vars.$space-md;
  font-size: 80%;

  > a {
    margin-right: vars.$space-sm;
    display: inline-block;
  }

  @include mixins.mobile {
    font-size: 85%;
  }
}

.groundhog--contact {
  margin-top: vars.$space-lg;
  text-align: center;

  p {
    font-size: 80%;
    margin: 0;
    display: inline-block;

    @include mixins.mobile {
      font-size: 85%;
      border: 1px solid black;
      padding: vars.$space-xs;
    }
  }
}
