@use '../vars';

.all-predictions {
  padding: vars.$space-sm 0;
  text-align: left;
}

.groundhog--image {
  margin: 0;
  padding: 0;

  img {
    border: 2px solid black;
    border-radius: 2px;
  }

  figcaption {
    display: none;
  }
}

.groundhog--residence {
  border: 2px solid black;
  margin-top: calc(-1 * vars.$space-md);
  // padding: vars.$space-md vars.$space-sm vars.$space-md vars.$space-md;
  padding: vars.$space-md vars.$space-sm vars.$space-sm vars.$space-md;

  .subhead {
    font-weight: 400;
    font-size: 130%;
    line-height: 1.45;
  }
}

.groundhog--source {
  background: black;
  color: white;
  padding: vars.$space-xs vars.$space-md vars.$space-xs vars.$space-md;
  font-size: 80%;

  > a {
    margin-right: vars.$space-sm;
    display: inline-block;
  }
}
