@use '../mixins';
@use '../vars';

.index {
  hr {
    border: none;
  }
}

.heading-with-right-link {
  margin-top: vars.$space-xl;
  display: flex;
  align-items: center;
  padding-bottom: vars.$space-lg;

  .heading {
    margin: 0;
    border-bottom: 1.5px solid black;

    @include mixins.mobile {
      padding-right: vars.$space-lg;
    }

    a {
      text-decoration: none;
    }
  }

  .right-link {
    flex: 1;
    border-bottom: 1.5px solid black;
    align-self: end;
    text-align: end; /* offset for the header link underline */
    white-space: nowrap;

    a {
      text-decoration: none;
    }
  }
}
