@use '../mixins';
@use '../vars';

.map--container {
  display: flex;
  gap: vars.$space-lg;
}

.map--list,
.map--leaflet {
  height: 502px;
  z-index: 1;
}

.map--list {
  flex: 2;
  overflow: scroll;
  padding-right: vars.$space-lg;
  border-top: 2px solid transparent;

  &:hover {
    border-top: 2px dotted black;
    border-bottom: 2px dotted black;
  }
}

.map--leaflet {
  flex: 3 0 200px;
  border: 2px solid black;
  margin-top: 2px;
}

.map--list {
  li:not(:last-of-type) {
      margin-bottom: vars.$space-md;
  }

  .card {
    width: 100%;
    padding-bottom: vars.$space-md;
  }

  .card--heading {
    margin-bottom: vars.$space-xs;
  }

  .card--subhead {
    margin-left: vars.$space-md;
    margin-bottom: 0;
  }
}

.leaflet-popup-tip-container,
.leaflet-tooltip-top::before {
  display: none;
}

.leaflet-popup-content-wrapper,
.leaflet-tooltip {
  border-radius: 0;
  border: 2px solid black;
}

.leaflet-popup-content,
.leaflet-tooltip {
  font-family: 'Readex Pro', sans-serif;
  font-weight: 300;
  margin: vars.$space-md vars.$space-lg vars.$space-md vars.$space-md;
}

.leaflet-popup-content a {
  color: black;
}

.leaflet-popup-content .groundhog-name {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.leaflet-popup--triangle {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 25px solid vars.$color-spring;
  position: absolute;
  right: 2px;
  top: 2px;
}

.leaflet-popup--winter .leaflet-popup--triangle {
  border-right-color: vars.$color-winter;
}

.leaflet-popup--none .leaflet-popup--triangle {
  border-right-color: #eee;
}

.leaflet-tooltip-pane {
  z-index: 701;
}

@include mixins.mobile {
  .leaflet-popup {
    bottom: -3px !important;
  }
}
