@use '../mixins';
@use '../vars';

.map--container {
  display: flex;
  gap: vars.$space-lg;
  height: 500px;
  margin-top: vars.$space-xxl;
}

.map--list,
.map--leaflet,
.screenreader-message {
  z-index: 1;

  &:focus {
    outline: 2px dotted black;
    outline-offset: 2px;
  }
}

.map--list--wrapper,
.map--leaflet {
  height: 100%;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.map--list--wrapper {
  position: relative;

  &::after {
    content: "";
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1em;
    position: absolute;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255, 1) 100%);
  }

  &:hover {
    border-bottom: 2px dashed black;

    &::after {
      height: 2em;
    }
  }

  @include mixins.mobile {
    display: none;
  }

  .map--list {
    overflow-y: scroll;
    max-width: 350px;
    padding-right: vars.$space-lg;
    height: 100%;

    @include mixins.tablet-only {
      max-width: 320px;
    }
  }

  .sortable--map--search--container {
    padding-top: 0;
    margin-top: calc(-1 * vars.$space-sm);
  }

  .top-border {
    position: sticky;
    top: 0;
    z-index: 1;
    width: calc(100% + 1rem);
    border-top: 2px solid black;
    margin-top: vars.$space-xs;
    margin-bottom: vars.$space-lg;
  }
}

.map--leaflet {
  flex: 3 0 200px;
  border: 2px solid black;
}

.map--list {
  li {
      margin-bottom: vars.$space-md;
  }

  .card {
    width: 100%;
    padding-bottom: vars.$space-md;
    line-height: 1.65;
    overflow: hidden;

    &:hover {
      .card--heading {
        color: black;
        text-decoration: none;
      }
    }

    &:focus {
      background: rgba(180, 180, 180, 0.05);
      outline: 2px dotted vars.$color-focus;
      outline-offset: -8px;
    }

    &.selected {
      background: rgba(180, 180, 180, 0.15);
      outline: 2px dotted black;
      outline-offset: -8px;
    }
  }

  .card--heading {
    margin-bottom: vars.$space-xs;
    text-decoration: none;
  }

  .card--subhead {
    margin-left: vars.$space-md;
    margin-bottom: 0;
  }

  a.link-button {
    @include mixins.button;
    display: inline-block;
    margin-top: vars.$space-sm;
    font-size: 85%;
    background: white;

    &:hover {
      color: vars.$color-focus !important;
    }
  }
}

.leaflet-popup-tip-container,
.leaflet-tooltip-top::before {
  display: none;
}

.leaflet-popup-content-wrapper,
.leaflet-tooltip {
  border-radius: 0;
  border: 2px solid black;
}

.leaflet-popup-content,
.leaflet-tooltip {
  font-family: 'Readex Pro', sans-serif;
  font-weight: 300;
  margin: vars.$space-md vars.$space-lg vars.$space-md vars.$space-md;
}

.leaflet-popup-content a {
  color: black;
}

.leaflet-popup-content .groundhog-name {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.leaflet-popup--triangle {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 25px solid vars.$color-spring;
  position: absolute;
  right: 2px;
  top: 2px;
}

.leaflet-popup--winter .leaflet-popup--triangle {
  border-right-color: vars.$color-winter;
}

.leaflet-popup--none .leaflet-popup--triangle {
  border-right-color: #eee;
}

.leaflet-tooltip-pane {
  z-index: 701;
}

@include mixins.mobile {
  .leaflet-popup {
    bottom: -3px !important;
  }
}
