@use '../mixins';
@use '../vars';

.predictions--heading {
  padding-bottom: vars.$space-xs;
  margin-bottom: 0;
  border-bottom: 1.5px solid black;
}

.predictions--summary {
  ul {
    padding: vars.$space-lg 0 vars.$space-xs 0;
  }

  li {
    display: inline-block;
    margin-bottom: vars.$space-md;
    margin-right: vars.$space-lg;

    @include mixins.mobile {
      &:first-of-type .predictions--summary--item {
        margin-bottom: vars.$space-lg;
      }
    }
  }

  &--item {
    display: flex;
    justify-items: center;
    align-items: center;
    padding-right: vars.$space-md;

    .icon {
      padding: vars.$space-md;
      font-size: 190%;
      line-height: 1;
      background: white;
      border-right: 2px solid black;
      display: none;
    }

    strong {
      margin: 0 vars.$space-sm;
      line-height: 0.1;
    }
  }

  &--highlight {
    padding: 0 vars.$space-xs;
    background: linear-gradient(140deg, transparent, vars.$color-spring);
  }

  &--winter {
    .predictions--summary--highlight {
      background: linear-gradient(140deg, transparent, vars.$color-winter);
    }
  }
}

.predictions > h2 {
  padding-bottom: vars.$space-xs;
  margin-top: 30px;
  border-bottom: 1.5px solid black;
}

.predictions--navigation {
  margin: vars.$space-xl 0 vars.$space-xxl 0;
  display: flex;
  justify-content: space-between;
}
