
{% macro site_title(params) %}
    {%- if not params.title -%}
    <span class="site-title">
    {%- endif -%}
    {%- if params.url -%}
        <a href="/" class="underline">GROUNDHOG-DAY.com</a>
    {%- else -%}
        GROUNDHOG-DAY.com
    {%- endif -%}
    {%- if not params.title -%}
    </span>
    {%- endif -%}
{% endmacro %}

