{% macro nav(params) %}
  <ul>
    <li><a href="/groundhogs/" {% if params.path == "/groundhogs/" -%}aria-current="page"{% endif %}>Groundhogs</a></li>
    <li>
      <ul>
        {% if params.groundhog and params.groundhog.name %}
          <li><a href="/groundhogs/{{ params.groundhog.id }}/" aria-current="page"><span aria-hidden="true">↪</span> {{ params.groundhog.name }}</a></li>
        {% endif %}
        <li><a href="#"><span aria-hidden="true">↪</span> Add a groundhog</a></li>
      </ul>
    </li>
    <li><a href="/api">API</a></li>
    <li><a href="/about">About</a></li>
  </ul>
{% endmacro %}
