{%- from "macros/_icon.njk" import icon -%}
{% macro nav(params) %}
  <ul>
    <li><a href="/groundhogs" {% if params.path == "/groundhogs" -%}aria-current="page"{% endif %}>Groundhogs</a></li>
    <li>
      <a class="link--icon link--icon--right" href="/map" {% if params.path == "/map" -%}aria-current="page"{% endif %}>
        <span>Map</span> {{ icon({ map: true }) }}
      </a>
    </li>
    <li><a href="/predictions" {% if params.path == "/predictions" -%}aria-current="page"{% endif %}>Predictions</a></li>
    <li><a href="/about" {% if params.path == "/about" -%}aria-current="page"{% endif %}>About</a></li>
    <li class="hidden--desktop"><a href="/contact" {% if params.path == "/contact" -%}aria-current="page"{% endif %}>Contact</a></li>
  </ul>
{% endmacro %}
