{%- from "macros/_icon.njk" import icon -%}
{% macro page_header(params) %}
  <div class="inner-content__header">
    {% if params.backUrl %}
        <div class="page_header--back"><a href="{{ params.backUrl }}" class="link--icon underline">
          {{ icon({ left: true }) }} <span>{{ params.backText }}<span></a>
        </div>
    {% endif %}
    <h1 class="page_header--heading">{{ params.h1 }}</h1>
    {% if params.dataUrl %}
      <div class="page_header--download hidden--mobile">
        <a href="{{ params.dataUrl }}" class="underline-mobile link--icon" target="_blank">
          {{ icon({ download: true }) }} <span>Get the data</span>
        </a>
      </div>
    {% endif %}
  </div>
{% endmacro %}
