{% macro page_header(params) %}
  <div class="inner-content__header">
    {% if params.backUrl %}
        <div class="page_header--back"><a href="{{ params.backUrl }}" class="underline"><span aria-hidden="true">←</span> {{ params.backText }}</a></div>
    {% endif %}
    <h1 class="page_header--heading">{{ params.h1 }}</h1>
    {% if params.dataUrl %}
      <div class="page_header--download hidden--mobile"><a href="{{ params.dataUrl }}" class="underline-mobile" target="_blank"><span aria-hidden="true">↓</span> Get the data</a></div>
    {% endif %}
  </div>
{% endmacro %}
