{% extends "layout.njk" %}

{% block body_classes -%}
  about
{%- endblock %}

{% block content %}
  <h1>About</h1>
  <h1 class="not-caps">GROUNDHOG D<span class="letter-spacing--less">A</span>Y dot COM merges the prophetic wisdom of <a class="underline" href="/groundhogs">groundhogs</a> with the entrepreneurial dynamism of structured data.</h1>
  <h1 class="not-caps">Move over, ‘unicorn’ companies — we have our own magic animal.</h1>
{% endblock %}
