{% extends "layout.njk" %}

{% block body_classes -%}
  about
{%- endblock %}

{% block content %}
  {{ page_header({ h1: 'About', backUrl: '/', backText: 'Home' }) }}

  <p class="h3 not-caps">For centuries, humankind has relied on the prophecies of clairvoyant woodchucks, long may it continue.</p>

  <p class="h3 not-caps">Every February 2nd – in deepest, darkest winter – humanity seeks guidance from groundhog-prophets, whose obscure rituals and ancient tongue foretell of spring’s return.</p>

  <p class="h3 not-caps">GROUNDHOG-DAY.com collects past prognostications and returns them as clean data — either <a href="/api" class="underline">as JSON</a> or in a spreadsheet.</p>

  <p class="h3 not-caps">Only groundhogs know the future, but GROUNDHOG-DAY.com unlocks the past.</p>
{% endblock %}
