{% extends "layout.njk" %}
{% block content %}
  <div class="inner-content__header">
    <h1>{{ groundhog.name }}</h1>
    <div><a href="/groundhogs">← All groundhogs</a></div>
  </div>
  <div class="inner-content">
    <div class="inner-content__main">

      <p>{{ groundhog.description }}</p>

      <div class="predictions data-table">
        <table class="data-table__table">
          <caption>
            <h2 class="data-table__title">Predictions</h2>
            <p>(Last 5 years)</p>
          </caption>
          <thead>
            <tr>
              <th>Year</th>
              <th>Shadow</th>
              <th>Prediction</th>
            </tr>
          </thead>
          <tbody>
            {% for prediction in groundhog.predictions %}
              {% if prediction.year >= 2018 %}
                <tr>
                  <th>{{ prediction.year}}</th>
                  <td>
                    {% if prediction.shadow %}
                      Yes, saw shadow.
                    {% else %}
                      Nope, no shadow.
                    {% endif %}
                  </td>
                  <td>
                    {% if prediction.shadow %}
                      <span aria-hidden="true">☃️</span> More winter! 
                    {% else %}
                      <span aria-hidden="true">🌷</span> Early spring!
                    {% endif %}
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="other-formats">
        <h3>Other formats</h3>
        <ul>
          <li>As a CSV</li>
          <li>API</li>
        </ul>
      </div>

    </div>
    <div class="inner-content__side">
      <div class="inner-content__side--container">
        <figure class="image">
          <img src="/images/ghogs/{{ groundhog.id }}-{{ groundhog.shortname | lower }}.png" alt="{{ groundhog.name }}" />
          <figcaption>{{ groundhog.name }}</figcaption>
        </figure>

        {% set safelist = ['city', 'region', 'country', 'source', 'currentPrediction'] %}

        <!-- see if you can set a caption -->
        <dl>
          {% for key, val in groundhog %}
            {% if key in safelist%}
              <div>
                <dt>{{ key | title }}</dt>
                <dd>{{ val }}</dd>
              </div>
            {% endif %}
          {% endfor %}
        </dl>
      </div>
    </div>
  </div>

{% endblock %}