{% extends "layout.njk" %}

{% block body_classes -%}
  groundhogs
{%- endblock %}

{% block content %}
  <div class="inner-content__header">
    <h1>{{ title }}</h1>
    <div><a href="/"><span aria-hidden="true">←</span> Home</a></div>
  </div>
  <div class="inner-content">
    <div class="inner-content__main">
      <p>In 2022:</p>
      <ul class="with-bullets">
        <li><strong>{{ recentPredictions.winter }}</strong> groundhogs ({{ recentPredictions.percent.winter }}%) predicted six more weeks of winter: ☃️</li>
        <li><strong>{{ recentPredictions.spring }}</strong> groundhogs ({{ recentPredictions.percent.spring }}%) predicted an early spring: 🌷</li>
      </ul>

      <div class="groundhogs data-table">
        <table class="data-table__table data-table__table">
          <caption class="visually-hidden">
              <h2>All groundhogs</h2>
          </captions>
          <thead class="visible">
            <tr>
              <th>Name</th>
              <th>Province/State</th>
              <th>Country</th>
              <th>Current prediction</th>
              <th>Total predictions</th>
            </tr>
          </thead>
          <tbody>
            {% for groundhog in groundhogs %}
              <tr onclick="window.location='/groundhogs/{{groundhog.id}}/';">
                <th><a href="/groundhogs/{{groundhog.id}}/" class="underline">{{ groundhog.name }}</a></th>
                <td>{{ groundhog.region }}</td>
                <td>{{ groundhog.country }}</td>
                <td>
                  {% if groundhog.latestPrediction.shadow %}
                    <span aria-label="Longer winter">☃️</span>
                  {% else %}
                    <span aria-label="Early spring">🌷</span>
                  {% endif %}
                </td>
                <td>{{ groundhog.predictionsCount }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="get-the-data">
        <h3>Get the data</h3>
        <ul class="button-list">
          <li><button>As JSON</button></li>
          <li><button disabled>As a CSV (soon)</button></li>
        </ul>
      </div>

    </div>
        
  </div>

{% endblock %}