{% extends "layout.njk" %}
{% block content %}
  <div class="inner-content__header">
    <h1>{{ title }}</h1>
    <div><a href="/">← Home</a></div>
  </div>
  <div class="inner-content">
    <div class="inner-content__main">

      <p>Yearly predictions for <strong>5</strong> weather-predicting animals, <strong>5</strong> of which are groundhogs.</p>
      <p>In 2022:</p>
      <ul>
        <li><strong>2</strong> groundhogs (40%) predict six more weeks of winter: ☃️</li>
        <li><strong>3</strong> groundhogs (60%) predict an early spring: 🌷</li>
      </ul>

      <div class="groundhogs data-table">
        <table class="data-table__table data-table__table">
          <thead class="visible">
            <tr>
              <th>Name</th>
              <th>Province/State</th>
              <th>Country</th>
              <th>Current prediction</th>
              <th>Total predictions</th>
            </tr>
          </thead>
          <tbody>
            {% for groundhog in groundhogs %}
              <tr onclick="window.location='/groundhogs/{{groundhog.id}}/';">
                <th><a href="/groundhogs/{{groundhog.id}}/">{{ groundhog.name }}</a></th>
                <td>{{ groundhog.region }}</td>
                <td>{{ groundhog.country }}</td>
                <td>
                  {% if groundhog.latestPrediction.shadow %}
                    <span aria-label="Longer winter">☃️</span>
                  {% else %}
                    <span aria-label="Early spring">🌷</span>
                  {% endif %}
                </td>
                <td>{{ groundhog.predictionsCount }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="other-formats">
        <h3>Other formats</h3>
        <ul>
          <li>As a CSV</li>
          <li>API</li>
        </ul>
      </div>

    </div>
        
  </div>

{% endblock %}