{% extends "layout.njk" %}

{% block body_classes -%}
  index
{%- endblock %}

{% block content %}
  <h1 class="not-caps">GROUNDHOG-D<span class="letter-spacing--less">A</span>Y.com melds the ancient wisdom of <a class="underline" href="/groundhogs">groundhogs</a> with the entrepreneurial dynamism of <a href="/api" class="underline">structured data</a>.</h1>
  <p class="h2 not-caps">Ready to swap forecasts for foresight? Check out <a href="#" class="underline">2022’s predictions</a>.</p>
{% endblock %}
