<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    {% if GITHUB_SHA -%}
      <meta name="keywords" content="GITHUB_SHA={{ GITHUB_SHA }}" />
    {%- endif %}
    <meta name="robots" content="noindex" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Readex+Pro:wght@300;400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>
  <body class="{% block body_classes %}{% endblock %}">
    <header>
      <a class="logo" href="/" aria-label="Groundhog-Day.com">
        <img src="/images/logo.png" class="logo--img" alt="" />
        <span aria-hidden="true">Groundhog<span class="letter-spacing--less">-</span>D<span class="letter-spacing--less">a</span>y.com</span>
      </a>
      <div class="header--right"><a href="#">This year’s prediction <span aria-hidden="true">→</span></a></div>
    </header>
    <nav>
      <ul>
        <li><a href="/groundhogs/" {% if path == "/groundhogs/" -%}aria-current="page"{% endif %}>Groundhogs</a></li>
        <li>
          <ul>
          {% if groundhog and groundhog.name %}
            <li><a href="/groundhogs/{{ groundhog.id }}/" aria-current="page"><span aria-hidden="true">↪</span> {{ groundhog.name }}</a></li>
          {% endif %}
            <li><a href="#"><span aria-hidden="true">↪</span> Add a groundhog</a></li>
          </ul>
        </li>
        <li><a href="#">API</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
    {# <aside>Aside</aside> #}
    <main>
    {% block content %}{% endblock %}
    </main>
    <footer><a href="https://pcraig3.ca" target="_blank">@pcraig3</a></footer>
  </body>
</html>