<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Readex+Pro:wght@300&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  </head>
  <body>
    <header>
      <div class="logo">Groundhog Day</div>
    </header>
    <nav>Nav</nav>
    <aside>Aside</aside>
    <main>
    {% block content %}{% endblock %}
    </main>
    <footer>Footer</footer>
  </body>
</html>