<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Readex+Pro:wght@300&family=Inter&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  </head>
  <body>
    <header>
      <a class="logo" href="/">
        <img src="/images/logo.png" class="logo--img" />
        <span>Groundhog-Day.com</span>
      </a>
      <div class="header--right"><a href="#">→ This year’s prediction</a></div>
    </header>
    <nav>
      <ul>
        <li><a href="/groundhogs/">Groundhogs</a></li>
        {% if groundhog and groundhog.name %}
        <ul><li>↪<a href="/groundhogs/{{ groundhog.id }}/">{{ groundhog.name }}</a></li></ul>
        {% endif %}
        <ul><li>↪<a href="#">Add a groundhog</a></li></ul>
        <li><a href="#">API</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </nav>
    {# <aside>Aside</aside> #}
    <main>
    {% block content %}{% endblock %}
    </main>
    <footer><a href="pcraig3.ca">@pcraig3</a></footer>
  </body>
</html>