@use '../vars';

dl {
  > div {
    &:not(:last-of-type) {
      margin-bottom: vars.$space-sm;
    }

    &::after {
      content: '';
      display: table;
      clear: both;
    }
  }
}

dt,
dd {
  display: inline-block;
}

dt {
  font-weight: 600;
}

dd {
  line-height: 1.5;
  margin-top: calc(-0.5 * vars.$space-xs);
  word-break: break-word;
}
