@use '../mixins';
@use '../vars';

details {
  > summary {
    @include mixins.button;
    display: list-item;
    width: fit-content;

    &:hover,
    &:focus {
      color: vars.$color-focus !important;
      text-decoration: underline;
    }

    &:focus {
      outline: black 2px dotted;
    }
  }

  > ul {
    margin: vars.$space-md 0;
    padding-left: vars.$space-sm;
    padding-bottom: vars.$space-xs;
  }

  &.nav--sm {
    @include mixins.mobile {
      display: inline-block !important;

      &[open] > summary {
        position: absolute;
        right: 1.2em;
        bottom: 0.6em;
      }

      > summary {
        float: right;

        &:active:not(:disabled) {
          top: unset;
        }
      }
    }
  }
}
