@use '../mixins';
@use '../vars';

details {
  > summary {
    @include mixins.button;
    display: list-item;
    width: fit-content;
    list-style-type: '☰';
    font-size: 120%;
    padding: 1px 6px 4px 5px;

    span {
      font-size: 85%;
    }

    &:hover,
    &:focus {
      color: vars.$color-focus !important;
      text-decoration: underline;
    }

    &:focus {
      outline: black 2px dotted;
    }
  }

  > ul {
    margin: vars.$space-md 0;
    padding-left: vars.$space-sm;
    padding-bottom: vars.$space-xs;
  }

  &.nav--sm {
    @include mixins.mobile {
      display: inline-block !important;

      &[open] > summary {
        position: absolute;
        right: 1em;
        bottom: 0.67em;
      }

      > summary {
        float: right;

        &:active:not(:disabled) {
          top: unset;
        }
      }
    }
  }
}
