@use '../vars';

.highlight {
  background: black;
  color: white;
  padding-right: vars.$space-lg;
  margin-bottom: vars.$space-md;
  font-size: 115%;
  line-height: 1.45;
  display: flex;
  align-items: stretch;

  > div {
    display: flex;
    align-items: center;
    border-radius: 2px;

    &:first-of-type {
      justify-content: center;
    }
  }

  .icon {
    font-size: 125%;
    background: white;
    border: 2px solid black;
    width: 50px;
    margin-right: vars.$space-sm;
  }

  .message {
    padding: vars.$space-xs 0;
  }
}
