@use '../vars';

.highlight {
  color: black;
  border: 2px solid black;
  padding-right: vars.$space-lg;
  margin-bottom: vars.$space-xs;
  line-height: 1.45;
  display: flex;
  align-items: stretch;

  &.highlight--winter {
    background: vars.$color-winter-faded;
  }

  &.highlight--spring {
    background: vars.$color-spring-faded;
  }

  > div {
    display: flex;
    align-items: center;
    border-radius: 2px;

    &:first-of-type {
      justify-content: center;
    }
  }

  .icon {
    font-size: 125%;
    background: white;
    border-right: 2px solid black;
    width: 50px;
    margin-right: vars.$space-sm;
  }

  .message {
    padding: vars.$space-md 0;
  }
}
