@use '../mixins';
@use '../vars';

ul {
  &.with-bullets {
    list-style-type: disc;
    padding-left: vars.$space-md;
    margin-left: vars.$space-xs;
  }
}

ol {
  &.with-decimals {
    list-style-type: decimal;
    padding-left: vars.$space-md;
    margin-left: vars.$space-xs;
  }
}

p {
  + ul:not(.no-paragraph-margin),
  + ol:not(.no-paragraph-margin) {
    margin-top: calc(-1 * vars.$space-md);
    margin-bottom: vars.$space-lg;
  }
}
