@use '../vars';
@use '../mixins';

.data-table {
  margin-bottom: vars.$space-xxl;

  .data-table__title {
    margin: 0;
    font-size: 1.953rem;
  }

  caption {
    text-align: left;

    p {
      margin-bottom: vars.$space-xs;
    }
  }

  .data-table__table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    * {
      outline: 0;
    }

    thead:not(.visible) {
      @include mixins.visually-hidden;

      + tbody th {
        font-weight: 600;
      }

      + tbody tr:first-of-type {
        th,
        td {
          border-top: 1.5px solid black;
        }
      }
    }

    th {
      text-align: left;
    }

    thead.visible {
      th {
        border-bottom: 1.5px solid black;
      }

      + tbody th {
        font-weight: 400;
      }
    }

    tbody {
      tr {
        td,
        th {
          border-bottom: transparent solid 1px;
        }
      }

      &:hover {
        td,
        th {
          border-bottom: #eee solid 1px;
        }
      }

      tr:hover {
        background: #f5f5f5;
      }

      tr[onclick]:hover {
        cursor: pointer;

        a {
          color: vars.$color-focus;
          text-decoration: underline;
        }
      }

      tr[onclick]:focus-within {
        outline: 2px dotted black;
        outline-offset: 2px;
        background: #fbfbfb;
      }

      td {
        text-align: left;
        padding-left: 0;
      }
    }
  }

  /* For mobile: https://www.accessibility-developer-guide.com/examples/tables/responsive/ */
  @include mixins.mobile {
    .data-table__table {
      display: block;

      caption,
      tr,
      tbody,
      th,
      td {
        display: block;
      }

      thead {
        @include mixins.visually-hidden;
      }

      .data-table__table thead.visible + tbody th {
        font-weight: 600;
      }

      tbody tr {
        padding-bottom: vars.$space-lg;

        &:last-of-type {
          border-bottom: 1.5px solid black;
        }

        th {
          border-top: 1.5px solid black;
          border-bottom: 1px dotted black;
        }

        td {
          margin-left: vars.$space-md;
        }
      }

      .narrow-th {
        font-weight: 400;
        width: 45%;
        display: inline-block;
      }
    }
  }

  @include mixins.tablet {
    .data-table__table tbody tr:last-of-type {
      th,
      td {
        border-bottom: 1.5px solid black;
      }
    }

    .narrow-th {
      display: none;
    }
  }
}

.data-table.predictions:not(.predictions--has-details) {
  width: 65%;

  thead > tr > th {
    &:nth-of-type(1) {
      width: 45%;
    }
  }
}

.data-table.predictions.predictions--has-details {
  thead > tr > th {
    &:nth-of-type(1) {
      width: 20%;
    }

    &:nth-of-type(2) {
      width: 30%;
    }
  }
}
