@use '../vars';
@use '../mixins';

.overflow-x,
.groundhogs main {
  overflow-x: auto;
}

.data-table.predictions:not(.predictions--has-details) {
  max-width: 850px;

  thead > tr > th {
    &:nth-of-type(1) {
      width: 45%;
    }
  }
}

.data-table.predictions.predictions--has-details {
  thead > tr > th {
    &:nth-of-type(1) {
      width: 20%;
    }

    &:nth-of-type(2) {
      width: 30%;
    }
  }
}

/* Standard Tables */
.data-table {
  margin-bottom: vars.$space-xxl;

  .data-table__title {
    margin: 0;
    font-size: 1.953rem;
  }

  caption {
    text-align: left;
    margin-bottom: vars.$space-xs;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    white-space: nowrap;

    &.data-table__table--with-line-breaks {
      white-space: initial;
    }

    td,
    th {
      border-bottom: transparent solid 1px;
      text-align: left;
      padding: vars.$space-sm;

      @include mixins.mobile {
        border-bottom: #eee solid 1px;

        &:first-of-type {
          padding-left: vars.$space-xs;
        }
      }
    }

    tr {
      &:hover {
        background: rgba(180, 180, 180, 0.15);
      }

      &[onclick]:hover {
        cursor: pointer;

        a {
          color: vars.$color-focus;
          text-decoration: underline;
        }
      }

      &[onclick]:focus-within {
        outline: 1.5px dotted black;
        outline-offset: 2px;
        background: rgba(180, 180, 180, 0.1);
      }

      &[onclick] > th > a:focus {
        outline: none;
      }
    }

    thead.visible {
      tr:hover {
        background-color: transparent;
      }

      th {
        border-bottom: 1.5px solid black;
      }

      + tbody th {
        font-weight: 400;
      }

      @include mixins.mobile {
        th {
          border-top: 1.5px solid black;
        }
      }
    }

    thead:not(.visible) {
      @include mixins.visually-hidden;

      + tbody th {
        font-weight: 600;
      }

      + tbody tr:first-of-type {
        th,
        td {
          border-top: 1.5px solid black;
        }
      }
    }

    tbody {
      &:hover {
        td,
        th {
          border-bottom: #eee solid 1px;
        }
      }

      tr:last-of-type {
        th,
        td {
          border-bottom: 1.5px solid black;
        }
      }
    }
  }

  &[role='region'][aria-labelledby][tabindex] {
    overflow: auto;
  }

  &[role='region'][aria-labelledby][tabindex]:focus {
    outline: 2px dotted black;
    outline-offset: -2px;
  }

  /* shadow */
  &[role='region'][aria-labelledby][tabindex] {
    background: linear-gradient(to right, #fff 30%, rgba(255, 255, 255, 0)),
      linear-gradient(to right, rgba(255, 255, 255, 0), #fff 70%) 0 100%,
      radial-gradient(farthest-side at 0% 50%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
      radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
    background-position: 0 0, 100%, 0 0, 100%;
    background-attachment: local, local, scroll, scroll;
  }
}
