@use 'mixins';

/* Grid for main page layout */

html,
body {
  background-color: white;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  padding: 2em;
  display: grid;
  grid: auto-flow min-content / 1fr;
  grid-gap: 1em;
  grid-template-areas:
    'header '
    'nav    '
    'aside  '
    'main   '
    'footer ';

  @include mixins.mobile {
    padding: 1.2em;
  }
}

header {
  grid-area: header;
}

aside {
  grid-area: aside;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

@include mixins.mobile {
  /* Estimate the closed-nav height.
     You can tune this number once and forget it. */
  :root {
    --mobile-nav-closed-height: 64px; // adjust to your actual closed bar height
  }

  main {
    padding-bottom: calc(
      var(--mobile-nav-closed-height) + env(safe-area-inset-bottom, 0px)
    );
  }
}

@include mixins.tablet {
  body {
    grid: auto-flow min-content / 1fr 5fr;
    grid-template-areas:
      'header header'
      'nav    ...   '
      '...    main  '
      'footer main  ';
  }
}

@include mixins.tablet-only {
  body.map {
    grid: auto-flow min-content / 1fr 5fr;
    grid-template-areas:
      'header header'
      'nav    ...   '
      'main   main  '
      'main   main  '
      'footer ...   ';
  }
}

@include mixins.desktop {
  body {
    grid: auto-flow min-content / 1fr 5.5fr;
    grid-template-areas:
      'header header'
      'nav    ...   '
      '...    main  '
      'footer main  ';
  }
}

/* Inner grid for product page layout */

.inner-content.inner-content--with-summary {
  max-width: 500px;
  display: grid;
  grid: auto-flow min-content / 1fr;
  grid-gap: 1em;
  grid-template-areas:
    'flash      '
    'summary    '
    'description'
    'predictions';

  .flash {
    grid-area: flash;
  }

  .description {
    grid-area: description;
  }

  .summary {
    grid-area: summary;
  }

  .predictions {
    grid-area: predictions;
  }

  @include mixins.tablet {
    max-width: none;
    grid: auto-flow min-content / 2fr 1fr;
    grid-gap: 0 2em;

    grid-template-areas:
      'flash       summary'
      'description summary'
      'predictions summary'
      '...         summary';
  }
}
