@use 'mixins';

/* Grid for main page layout */

html,
body {
  min-height: 100%;
}

body {
  margin: 2em;
  display: grid;
  grid: auto-flow min-content / 1fr;
  grid-gap: 1em;
  grid-template-areas:
    'header '
    'nav    '
    'aside  '
    'main   '
    'footer ';

  @include mixins.mobile {
    margin: 1.2em;
  }
}

header {
  grid-area: header;
}

aside {
  grid-area: aside;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

@include mixins.tablet {
  body {
    grid: auto-flow min-content / 1fr 5fr;
    grid-template-areas:
      'header header'
      'nav    ...   '
      '...    main  '
      'footer main  ';
  }
}

@include mixins.desktop {
  body {
    grid: auto-flow min-content / 1fr 4fr;
    grid-template-areas:
      'header header'
      'nav    ...   '
      '...    main  '
      'footer main  ';
  }
}

/* Inner grid for product page layout */

.inner-content.inner-content--with-summary {
  max-width: 500px;
  display: grid;
  grid: auto-flow min-content / 1fr;
  grid-gap: 1em;
  grid-template-areas:
    'description'
    'summary    '
    'predictions';

  .description {
    grid-area: description;
  }

  .summary {
    grid-area: summary;
  }

  .predictions {
    grid-area: predictions;
  }

  @include mixins.tablet {
    max-width: none;
    grid: auto-flow min-content / 2fr 1fr;
    grid-gap: 0 2em;

    grid-template-areas:
      'description summary'
      'predictions summary';
  }
}
