@use 'mixins';

/* Hide footer on error */
.error footer {
  visibility: hidden;
}

footer {
  line-height: 1.55;
  position: relative;

  .contact {
    border: 1px solid #ccc;
    display: inline-block;
    width: 120px;
    text-align: center;
    padding: 3px;
  }

  #back-to-top {
    margin-top: 10px;
    position: relative;

    .icon {
      position: absolute;

      + span {
        padding-left: 20px;
      }
    }
  }
}

.contact footer .contact {
  display: none;
}

@include mixins.mobile {
  footer {
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 60px;
    border-top: 2px dotted black;
    text-align: right;

    .contact {
      display: none;
    }
  }

  .years footer,
  .groundhog-predictions footer {
    border-top: none;
  }
}
