@use 'mixins';

/* Hide footer on error */
.error footer {
  visibility: hidden;
}

footer {
  line-height: 1.55;
}

@include mixins.mobile {
  footer {
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
  }
}

@include mixins.mobile {
  footer {
    border-top: 2px dotted black;
  }

  .groundhogs footer,
  .years footer,
  .groundhog-predictions footer {
    border-top: none;
  }
}
