@use 'mixins';
@use 'vars';

.get-the-data {
  h3 {
    font-size: 1.563rem;
    letter-spacing: -0.03rem;
    margin-bottom: vars.$space-md;
  }

  ul li {
    display: inline-block;
  
    &:first-of-type {
      margin-right: vars.$space-sm;
    }
  
    a.link-button,
    button {
      @include mixins.button;
    }
  }
}

