@use 'vars';
@use 'mixins';

.inner-content__header {
  display: flex;
  border-bottom: 2px solid black;
  margin-bottom: vars.$space-xl;

  h1 {
    flex: 3;
    margin-bottom: 0;
  }

  div {
    flex: 1;
    align-self: end;
    text-align: right;
  }
}

.inner-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  .inner-content__main {
    flex: 2 1 0;
    margin-right: vars.$space-xl;
  }

  .inner-content__side {
    flex: 1 1 0;
  }
}

.data-table {
  margin-bottom: vars.$space-xxl;

  .data-table__title {
    margin: 0;
    font-size: 1.953rem;
  }

  .data-table__table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    /* TODO: remove this */
    outline: 0;

    * {
      outline: 0;
    }

    thead:not(.visible) {
      @include mixins.visually-hidden;
    }

    th {
      text-align: left;
    }

    tbody {
      th {
        border-bottom: 2px solid black;

        &:first-of-type {
          border-top: 2px solid black;
        }
      }

      td {
        text-align: left;
        padding-left: 0;
        border-bottom: 2px solid black;

        &:nth-of-type(1),
        &:nth-of-type(2) {
          border-top: 2px solid black;
        }
      }
    }
  }
}

.other-formats {
  h3 {
    font-size: 1.563rem;
    letter-spacing: -0.03rem;
    margin-bottom: vars.$space-md;
  }

  ul {
    list-style-type: disc;
    padding-left: vars.$space-lg;
  }
}

figure {
  margin: 0;

  img {
    padding: 2px;
    border: 2px solid black;
  }

  figcaption {
    border-bottom: 2px solid black;
  }
}
