@use 'vars';
@use 'mixins';

header {
  display: flex;
  align-items: center;
  padding-bottom: vars.$space-xs;

  @include mixins.mobile {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: vars.$space-lg;
    padding-bottom: 2px;
  }
}

a.logo {
  display: inline-flex;
  align-items: center;
  font-size: 1.8rem;
  margin: 0;
  line-height: 1;
  text-decoration: none;
  padding-bottom: 2px;

  .logo--img {
    width: 34px;
    margin-right: vars.$space-sm;
  }

  span {
    text-transform: uppercase;
    color: black;
  }

  @include mixins.tablet {
    border-bottom: 2px solid black;

    &:hover,
    &:focus {
      text-decoration: none;
      border-bottom: 2px solid vars.$color-focus;
    }
  }

  @include mixins.tablet-mobile {
    padding-bottom: 0;

    .logo--img {
      padding-bottom: 2px;
    }
  }

  @include mixins.mobile {
    font-size: 1.953rem;
  }

  @include mixins.mobile-xs {
    font-size: 1.44rem;
  }
}

.header--right {
  flex: 1;

  a {
    text-decoration: none;
  }

  @include mixins.tablet {
    border-bottom: 2px solid black;
    align-self: end;
    text-align: end; /* offset for the header link underline */
  }
}

/* hide the subheading on other pages */

@include mixins.mobile {
  .index header {
    border-bottom: 1.5px solid black;
    margin-bottom: vars.$space-xxl;
    border-bottom: 1.5px solid black;
  }

  .index header .logo > span {
    display: inline-block;
  }

  .index header .header--right {
    display: inline-block;
  }
}

@media (min-width: 441px) and (max-width: 805px) {
  .index header .header--right {
    font-size: 92%;
  }
}
