@use 'vars';
@use 'mixins';

header {
  display: flex;
  align-items: center;
  padding-bottom: vars.$space-xs;
}

a.logo {
  display: inline-flex;
  align-items: center;
  font-size: 1.8rem;
  margin: 0;
  line-height: 1;
  text-decoration: none;
  border-bottom: 2px solid black;
  padding-bottom: 2px;

  &:hover,
  &:focus {
    text-decoration: none;
    border-bottom: 2px solid vars.$color-focus;
  }

  .logo--img {
    width: 34px;
    margin-right: vars.$space-sm;
  }

  span {
    text-transform: uppercase;
    color: black;
  }

  @include mixins.tablet-mobile {
    padding-bottom: 0;

    .logo--img {
      padding-bottom: 2px;
    }
  }

  @include mixins.mobile {
    font-size: 1.953rem;
  }

  @include mixins.mobile-xs {
    font-size: 1.6rem;
  }
}

.header--right {
  flex: 1;
  border-bottom: 2px solid black;
  align-self: end;
  text-align: end; /* offset for the header link underline */

  a {
    text-decoration: none;
  }
}
