@use 'vars';

/* Mixins are compiled ahead of time, so we can't use CSS vars in our mq mixins */
$desktop-screen: 1200px;
$tablet-screen: 992px;
$mobile-screen: 768px;
$mobile-xs-screen: 440px;

@mixin mobile-xs {
  @media (max-width: #{$mobile-xs-screen}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile-screen}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile-screen}) {
    @content;
  }
}

@mixin tablet-mobile {
  @media (max-width: #{$tablet-screen}) {
    @content;
  }
}

@mixin tablet-only {
  @media (min-width: #{$mobile-screen}) and (max-width: #{$tablet-screen - 1}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$tablet-screen}) {
    @content;
  }
}

@mixin desktop-xl {
  @media (min-width: #{$desktop-screen}) {
    @content;
  }
}

@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  white-space: nowrap !important;
}

@mixin button {
  display: inherit;
  line-height: 1.2;
  font-weight: 400;
  position: relative;
  padding: vars.$space-xs vars.$space-sm;
  border: 2px solid black;
  border-radius: 4px;
  box-shadow: inset 0 -2px 0 #ddd;
  cursor: pointer;

  &:hover:not(:disabled) {
    color: rgba(0, 0, 0, 0.8);
    background: #f9f9f9;
    box-shadow: inset 0 -2px 0 #ccc;
  }

  &:focus {
    outline: vars.$color-focus 2px dotted;
    outline-offset: 2px;
  }

  &:active:not(:disabled) {
    top: 2px;
    box-shadow: none;
  }

  &:disabled {
    background: #f5f5f5;
    color: rgba(0, 0, 0, 0.7);
    border-color: rgba(0, 0, 0, 0.7);
    cursor: not-allowed;
  }
}
