/* Maybe readex pro, poppins, and syne, archivo, ibm plex mono, inter?? */
html {
  font-size: 112.5%;
} /*18px*/

body {
  font-family: 'Readex Pro', sans-serif;
  font-weight: 300;
  line-height: 1.75;
  color: #000000;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.45;
}

strong {
  font-family: 'Readex Pro', sans-serif;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
.logo {
  margin: 1.38rem 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.3;

  &:not(.not-caps) {
    text-transform: uppercase;
  }
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
  letter-spacing: -0.07rem;
}

h2 {
  font-size: 2.441rem;
  letter-spacing: -0.05rem;
}

h3 {
  font-size: 1.953rem;
  letter-spacing: -0.04rem;
}

h4 {
  font-size: 1.563rem;
  letter-spacing: -0.03rem;
}

h5 {
  font-size: 1.25rem;
  letter-spacing: -0.025rem;
}

small,
.text_small {
  font-size: 0.8rem;
}
