@use 'vars';
@use 'mixins';

/* Maybe readex pro, poppins, and syne, archivo, ibm plex mono, inter?? */
html {
  font-size: 112.5%;

  @include mixins.tablet-only {
    font-size: 105%;
  }

  @include mixins.mobile {
    font-size: 95%;
  }

  @include mixins.mobile-xs {
    font-size: 90%;

    p,
    dt,
    dd,
    th,
    td,
    nav li > a,
    .with-bullets > li,
    .body-text {
      font-size: 105%;
    }
  }
} /*18px*/

body {
  font-family: 'Readex Pro', sans-serif;
  font-weight: 300;
  line-height: 1.75;
  color: #000000;
}

p {
  margin-top: 0;
  line-height: 1.55;
  margin-bottom: vars.$space-lg;

  &.mb--0 {
    margin-bottom: 0;
  }
}

strong {
  font-family: 'Readex Pro', sans-serif;
  font-weight: 600;
}

code {
  padding: 2px 4px;
  background-color: rgba(180, 180, 180, 0.15);
  border: 1px solid rgba(180, 180, 180, 0.85);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
.logo {
  margin: 1.38rem 0 1rem 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1,
.h1 {
  margin-top: 0;
  font-size: 3.052rem;
  letter-spacing: -0.07rem;

  &:not(.not-caps) {
    text-transform: uppercase;
  }

  @include mixins.mobile-xs {
    font-size: 2.441rem;
  }
}

h2,
.h2 {
  // font-size: 2.441rem;
  font-size: 2.074rem;
  letter-spacing: -0.05rem;

  @include mixins.mobile-xs {
    font-size: 1.728rem;
  }
}

h3,
.h3 {
  // font-size: 1.953rem;
  font-size: 1.728rem;
  letter-spacing: -0.04rem;

  @include mixins.mobile-xs {
    font-size: 1.44rem;
  }
}

h4,
.h4 {
  //font-size: 1.563rem;
  font-size: 1.44rem;
  letter-spacing: -0.03rem;

  @include mixins.mobile-xs {
    font-size: 1.2rem;
  }
}

h5,
.h5 {
  // font-size: 1.25rem;
  font-size: 1.2rem;
  letter-spacing: -0.025rem;

  @include mixins.mobile-xs {
    font-size: 1.125rem;
  }
}

small,
.text_small {
  font-size: 0.8rem;
}
