/* CSS reset */
@use './reset/normalize';
@use './reset/reset.local';

/* Sass stuff */
@use './_typography';
@use './_mixins';
@use './_vars';

/* Base CSS */
@use './_base';

/* Sections */
@use './_header';
@use './_footer';

/* pages */
@use './pages/_groundhog'; /* single groundhog */

/* elements */
@use './elements/_details';
@use './elements/_highlight';
@use './elements/_links';
@use './elements/_lists';
@use './elements/_tables';

/* components */
@use './components/_get_the_data';
@use './components/_nav';
@use './components/_page_header';

.visually-hidden {
  @include mixins.visually-hidden;
}

.letter-spacing--less {
  letter-spacing: -3px;
}

img {
  max-width: 100%;
  height: auto;
}

@include mixins.mobile-xs {
  .hidden--mobile-xs {
    display: none;
  }
}

.flip-x {
  display: inline-block;
  transform: scale(-1, 1);
}

.large-font {
  font-size: 115%;
}

.max-width {
  max-width: 850px;
}
