/* CSS reset */
@use './reset/normalize';
@use './reset/reset.local';

/* Sass stuff */
@use './_typography';
@use './_mixins';
@use './_vars';

/* Base CSS */
@use './_base';

/* Sections */
@use './_header';
@use './_footer';

/* pages */
@use './pages/_groundhog';
@use './pages/_index';
@use './pages/_map';
@use './pages/_predictions';

/* elements */
@use './elements/_details';
@use './elements/_highlight';
@use './elements/_links';
@use './elements/_lists';
@use './elements/_tables';

/* components */
@use './components/_cards';
@use './components/_get_the_data';
@use './components/_nav';
@use './components/_page_header';
@use './components/_skip_link';
@use './components/_sortable';

.visually-hidden {
  @include mixins.visually-hidden;
}

.letter-spacing--less {
  letter-spacing: -3px;

  @include mixins.mobile-xs {
    letter-spacing: -1px;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.hidden--desktop {
  display: none;
}

@include mixins.mobile {
  main {
    margin-top: -30px;
  }

  .hidden--desktop {
    display: block;
  }

  .hidden--mobile {
    display: none;
  }

  .center--mobile {
    text-align: center !important;
  }
}

@include mixins.mobile-xs {
  .hidden--mobile-xs {
    display: none;
  }
}

/* These are basically our "content" pages */
.max-width--850 {
  max-width: 850px;

  a {
    text-decoration: underline;
  }
}

// Both of these are used for the groundhog emoji on the API page
.flip-x {
  display: inline-block;
  transform: scale(-1, 1);
}

.large-font {
  font-size: 115%;
}

.predictions--sort {
  text-align: right;
}

.site-title {
  letter-spacing: -0.2px;
}

.no-script,
.display--none {
  display: none;
}
