{% extends "layout.njk" %}

{% block body_classes -%}
  groundhog-day-next
{%- endblock %}

{% block content %}
  {{ page_header({ h1: 'Groundhog Day ' ~ nextYear, backUrl: back.url, backText: back.text }) }}

  <div class="max-width--850">
    <p class="speakable">
      <strong>{% if isBeforeGroundhogDay %}This year{% else %}In {{ nextYear }}{% endif %}, Groundhog Day will be on {{ dateString }}.</strong>
    </p>

    <p>
      Groundhog Day {{ nextYear }} is {{ daysLeft }} days away, so use the <a class="link--icon underline" href="/map">
      {{ icon({ map: true }) }} <span>Groundhog Map</span>
    </a> to find your closest groundhog before the big day! Most of them livestream their predictions online, and some even host a pancake breakfast for early risers who make it out in person.
    </p>

    <p><span class="speakable"><a href="/about">According to tradition</a>, if a groundhog sees its shadow on February 2nd, it means six more weeks of winter. No shadow means an early spring.</span>
    <a href="/history-of-groundhog-day">Read more about the history of Groundhog Day</a>.</p>

    <p>Unfortunately, Groundhog Day is <strong>not</strong> a statutory holiday in <a href="https://canada-holidays.ca" target="_blank" style="text-decoration: none;">Canada</a> or the USA.

    <h2 class="h5">{% if isBeforeGroundhogDay %}Last year{% else %}This year{% endif %}: Groundhog Day {{ currentYear }}</h2>
    {# TODO: remove "So far", capitalize "in", remove "have" #}
    <p class="mb--0">So far in {{ currentYear }}, most groundhogs have predicted <strong>{{ predictionString }}</strong>. <a href="/predictions/{{currentYear}}">Check out {{currentYear}}’s detailed results</a> to see who got it right or wrong. (Whether they were right or not depends on where you live.) Or go back even further and <a href="/predictions">see past predictions for all years</a>.</p>
  </div>
{% endblock %}
